<template>
  <div class="sections">
    <div class="section"
         :class="{'section__active': isSectionActive(category), 'section__active_n' : isSectionActiveN(category)}"
         v-for="category in categories"
         :key="category.id"
         @mouseover="hoveredSectionId = category.id"
         @mouseleave="hoveredSectionId = 0"
    >
      <div @click="sectionClickAction(category)"
           class="section__body">
        <div class="section__body_wrapper">
          <div class="section__img">
            <img v-if="altImg(category)" :src="category.altImg" alt="pfood-nav-logo_alt">
            <img v-else :src="category.img" alt="pfood-nav-logo">
          </div>
          <div class="section__name">{{ category.name }}</div>
        </div>
      </div>
      <div class="visibility" :class="{'visibility_show': showSectionChildren(category)}">
        <div class="section__child"
             @click="goChildCategory(child.code)"
             :class="{'section__child_active' : isActiveChild(child.code)}"
             v-for="child in category.children"
             :key="child.id"
        ><div>{{ child.name }}</div></div>
      </div>
      <template>
        <div class="children section__children visibility__o" :class="{'visibility__o_show': showSectionHover(category)}">
          <div class="children__wrapper">
            <div class="children__header">{{category.name}}</div>
            <div class="children__item"
                 v-for="child in category.children"
                 :key="child.id"
            >
              <div class="children__item-header">
                <div @click="goChildCategory(child.code)">{{child.name}}</div>
              </div>
              <div class="children__item-body">
                <div class="dash">—</div>
                <div class="text">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                  A animi assumenda, consectetur consequatur culpa cum cumque deserunt
                  dolor ea eos ex neque quae reiciendis reprehenderit sint temporibus
                  velit, veniam voluptatibus?
                </div>
              </div>
            </div>
          </div>
        </div>
      </template>
    </div>
  </div>
</template>

<script>
  export default {
    name: "CatalogNavLeft",
    data () {
      return {
        activeSectionId: 0,
        hoveredSectionId: 0,
        activeParamsSection: 0,
      }
    },
    computed: {
      code () {
        return this.$router.currentRoute.params.category
      },
      currentCategory () {
        return this.$store.getters['catalog/getCategoryByCode'](this.code)
      },
      categories () {
        return this.$store.getters['catalog/getCategories']
      }
    },
    mounted() {
      this.setActiveParamsSection()
      if (!this.activeParamsSection) {
        this.$nuxt.error({ statusCode: 404, message: 'Post not found' })
      }
    },
    methods: {
      showSectionChildren: function (category) {
        return this.activeSectionId === category.id && category.children
          && category.children.length > 0 || this.activeParamsSection === category.id
      },
      showSectionHover: function (category) {
        return this.hoveredSectionId === category.id && category.children
          && category.children.length > 0 && this.activeSectionId !== category.id && this.activeParamsSection !== category.id
      },
      isSectionActive: function (category) {
        return (this.activeSectionId === category.id || this.activeParamsSection === category.id) && category.children
          && category.children.length > 0
      },
      isSectionActiveN: function (category) {
        return (this.activeSectionId === category.id || this.activeParamsSection === category.id) && !category.children
      },
      sectionClickAction: function (category) {
        if (this.activeParamsSection === category.id) {
          this.activeSectionId = 0
          this.activeParamsSection = 0
          return
        }
        this.activeParamsSection = 0
        if (category.children && category.children.length > 0) {
          this.activeSectionId === 0 ? this.activeSectionId = category.id : this.activeSectionId = 0
        } else {
          this.activeSectionId = 0
          this.clearFilter()
          this.$router.push({ path: category.code })
        }
      },
      searchActiveParamsSection: function () {
        for (let i = 0; i < this.categories.length; i++) {
          let el = this.categories[i]
          if (el.code === this.code) {
            this.activeParamsSection = el.id
            return el.id
          } else if (el.children && el.children.length > 0) {
            for (let j = 0; j < el.children.length; j++) {
              if (el.children[j].code === this.code) {
                return el.id
              }
            }
          }
        }
        return null
      },
      setActiveParamsSection: function () {
        this.activeParamsSection = this.searchActiveParamsSection()
      },
      clearFilter: function () {
        this.$store.dispatch('filter/deleteListAction')
      },
      goChildCategory: function (link) {
        this.clearFilter()
        this.$router.push({ path: link })
      },
      altImg: function (category) {
        return (this.activeParamsSection === category.id || this.activeSectionId === category.id)
          && category.children && category.children.length > 0
      },
      isActiveChild: function (code) {
        return this.code === code
      }
    }
  }
</script>

<style scoped lang="scss">
  @import "../../assets/css/components/catalog/catalog-nav-left.scss";
  .visibility {
    max-height: 0;
    overflow: hidden;
    transition: all .2s;
    &_show {
      max-height: 2000px;
    }
    &__o {
      max-width: 0;
      overflow: hidden;
      transition: max-width .2s;
      .children__wrapper {
        display: none;
      }
      &_show {
        max-width: 320.98%;
        visibility: visible;
        .children__wrapper {
          display: initial;
        }
      }
    }
  }
</style>

