<template>
  <section class="progress-bar">
    <div class="progress-bar__item" v-for="(item) in visibleItems"
         :key="item.id">
      <div
        class="progress-bar__header"
        :class="{'selectedCategoryShort' : showActiveName(item, category)}">{{ item.shortName }}</div>
      <div class="progress-bar__progress">
        <template v-if="item.children">
          <div  v-for="(nitem, nindex) in item.children"
                :key="nindex"
                class="progress-bar__progress_child"
                :style="{width: calculateChildLength(item.children.length)}">
            <div v-if="nitem.id === category" class="green__background"
                 :style="{width: (timer / time) * 100 + '%'}">
            </div>
          </div>
        </template>
        <template v-else>
          <div class="progress-bar__progress_no-child"
               style="width: 100%">
            <div v-if="item.id === category" class="green__background"
                 :style="{width: (timer / time) * 100 + '%'}">
            </div>
          </div>
        </template>
      </div>
    </div>
  </section>
</template>

<script>
  export default {
    name: "CatalogProgress",
    props: ['time','category'],
    data() {
      return {
        allItemsList: [],
        timerId: '',
        timer: 0
      }
    },
    computed: {
      categoryList () {
        return this.$store.state.catalog.categoryList
      },
      items () {
        return this.$store.state.catalog.items
      },
      visibleItems () {
        return this.allItemsList.filter( (e,i) => i < 4)
      }
    },
    mounted () {
      this.allItemsList = this.currentListNames()
      this.timerStart()
    },
    methods: {
      changeAllItems: function (pos) {
        this.$nextTick(() => {
          let cut = this.allItemsList.splice(0, pos)
          cut.forEach((item) => {
            this.allItemsList.push(item)
          })
        })
      },
      calculateChildLength: function (length) {
        return (100 / length) + '%';
      },
      currentListNames: function () {
        return this.categoryList.map((e) => {
          return {
            id: e.id,
            shortName: e.shortName,
            children: e.children ? e.children : null
          }
        })
      },
      showActiveName: function (item, id) {
        return item.id === id || item.children && item.children.find((e) => {
          return e.id === id
        })
      },
      changeCategory: function() {
        for(let i = 0; i < this.allItemsList.length; i++) {
          let item = this.allItemsList[i]
          if (item.children && Array.isArray(item.children)) {
            let children = item.children
            if (children[children.length-1].id === this.category || children[0].id === this.category) {
              this.changeAllItems(i)
            }
          }
          if (item.id === this.category) {
            this.changeAllItems(i)
          }
        }
      },
      timerStart: function () {
        clearInterval(this.timerId)
        this.timer = 0
        this.timerId = setInterval(() => {
          this.timer++
          if (this.timer === this.time + 1) {
            this.timer = 0
            this.$emit('timerTick')
          }
        }, 1000)
      },
    },
    watch: {
      category: {
        deep: true,
        handler: function () {
          this.changeCategory()
        }
      }
    }
  }
</script>

<style scoped lang="scss">
  @import "../../assets/css/components/catalog/catalog-progress.scss";
  .selectedCategoryShort {
    color: #191a1e!important;
  }
</style>
