<template>
  <div class="list">
    <div class="list__item item item__selected" @click="showList = !showList">
      <div class="item__img">
        <img :src="selectedItem.img" alt="category img">
      </div>
      <div class="item__name">
        {{selectedItem.name}}
      </div>
      <div class="item__length">
        <div>{{itemsListLength(selectedItem)}}</div>
      </div>
    </div>
    <div v-if="showList"
         class="list__items">
      <div v-for="category in itemList"
           :key="category.id"
           class="list__item item"
           @click="goCategoryEvent(category)"
           :class="{'item_opened' : openedCategory === category.id}">
        <div class="item__wrapper">
          <div class="item_parent">
            <div class="item__img">
              <img v-if="openedCategory !== category.id" :src="category.img" alt="category img">
              <img v-else :src="category.altImg" alt="category img alt">
            </div>
            <div class="item__name">
              {{category.name}}
            </div>
            <div class="item__length">
              <div>{{itemsListLength(category)}}</div>
            </div>
          </div>
          <div v-if="hasChildren" :class="{'d-none' : openedCategory !== category.id}" class="item__children">
            <div @click="goCategoryEvent(child)" :class="{'item__child_selected' : childSelected(child.code)}" class="item__child" v-for="child in category.children" :key="child.id">
              {{child.name}}
            </div>
          </div>
        </div>
      </div>
      <div class="list__description">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        A accusamus, aliquid cumque dolor exercitationem facere
        in ipsa nisi nobis, nostrum omnis, suscipit ullam?
        Aspernatur aut dolor labore libero magnam praesentium!
      </div>
    </div>
  </div>
</template>
<script>
  export default {
    name: 'CatalogNavDroplist',
    data() {
      return {
        selectedItem: {},
        itemList: [],
        showList: false,
        openedCategory: 0
      }
    },
    computed: {
      code () {
        return this.$router.currentRoute.params.category
      },
      currentCategory () {
        return this.$store.getters['catalog/getCategoryByCode'](this.code)
      },
      categories () {
        return this.$store.getters['catalog/getCategories']
      }
    },
    mounted() {
      if (!this.searchActiveParamsSection()) {
        this.$nuxt.error({ statusCode: 404, message: 'Post not found' })
      }
      this.setSelectedItem()
      this.setItemList()
    },
    methods: {
      itemsListLength: function (category) {
        if (!category.children) {
          return this.$store.getters['catalog/getItemsForCategory'](category.id).length
        } else {
          let length = 0
          category.children.forEach(c => {
            length += this.$store.getters['catalog/getItemsForCategory'](c.id).length
          })
          return length
        }
      },
      goCategoryEvent: function (category) {
        this.$store.dispatch('filter/deleteListAction')
        if (category.children && category.children.length > 0) {
          this.openedCategory = this.openedCategory > 0 ? 0 : category.id
        } else {
          this.$router.push({ path: category.code })
        }
      },
      hasChildren: function (category) {
        return category.children && category.children.length > 0
      },
      childSelected: function (code) {
        return this.code === code
      },
      setSelectedItem: function () {
        for (let i = 0; i < this.categories.length; i++) {
          let el = this.categories[i]
          if (el.code === this.code) {
            this.selectedItem = el
            return
          } else if (el.children && el.children.length > 0) {
            for (let j = 0; j < el.children.length; j++) {
              if (el.children[j].code === this.code) {
                this.selectedItem = el
                return
              }
            }
          }
        }
      },
      setItemList: function () {
        this.categories.forEach(e => {
          if (e.id !== this.selectedItem.id && !e.children) {
            this.itemList.push(e)
          } else if (e.id !== this.selectedItem.id && e.children) {
            let isSelected = false
            e.children.forEach(c => {
              if (c.id === this.selectedItem.id) {
                isSelected = true
              }
            })
            if (!isSelected) {
              this.itemList.push(e)
            }
          }
        })
      },
      searchActiveParamsSection: function () {
        for (let i = 0; i < this.categories.length; i++) {
          let el = this.categories[i]
          if (el.code === this.code) {
            this.activeParamsSection = el.id
            return el.id
          } else if (el.children && el.children.length > 0) {
            for (let j = 0; j < el.children.length; j++) {
              if (el.children[j].code === this.code) {
                return el.id
              }
            }
          }
        }
        return null
      }
    }
  }
</script>
<style scoped lang="scss">
  @import "../../assets/css/components/catalog/catalog-nav-droplist.scss";
  .d-none {
    display: none;
  }
</style>
