<template>
	<div>
    <ul>
      <li v-for="category in categories"
          :key="category.id"
      >
        {{ category.name }}
        <template v-if="category.children && category.children.length > 0">
          <ul>
            <li v-for="children in category.children"
                :key="children.id"
            >{{ children.name }}</li>
          </ul>
        </template>
      </li>
    </ul>
  </div>
</template>

<script>
export default {
  name: "CatalogLeftSide",
  computed: {
    code () {
      return this.$router.currentRoute.params.category
    },
    currentCategory () {
      return this.$store.getters['catalog/getCategoryByCode'](this.code)
    },
    categories () {
      return this.$store.getters['catalog/getCategories']
    }
  }
}
</script>

<style scoped lang="sccs"></style>
