<template>
  <section class="categoryList">
    <div class="categoryList__item item"
         v-for="(item, index) in list"
         @click="changeCategory(item)"
         :key="index"
    >
      <img class="item__img" :src="item.img" alt="categoryList__img">
      <div class="item__header">
        <div v-if="transformHeader(item.name).h1">{{ transformHeader(item.name).h1 }}</div>
        <div v-if="transformHeader(item.name).h2">{{ transformHeader(item.name).h2 }}</div>
      </div>
    </div>
  </section>
</template>

<script>
  export default {
    name: "CategoryList",
    props: ['list'],
    data() {
      return {

      }
    },
    computed: {
      currentListNames: function () {
        return this.list.filter((e) => {
          return e.shortName
        })
      }
    },
    methods: {
      transformHeader: function (header) {
        return { h1: header.substring(0,header.lastIndexOf(' ')), h2: header.substring(header.lastIndexOf(' ') + 1)}
      },
      calculateChildLength: function (length) {
        return (100 / length) + '%';
      },
      changeCategory: function (item) {
        if (item.children) {
          this.$emit('changeCategory', item.children[0].id)
        } else {
          this.$emit('changeCategory', item.id)
        }
      }
    }
  }
</script>

<style scoped lang="scss">
  @import '../../assets/css/components/catalog/category-list.scss';
</style>
