<template>
  <div class="droplist">
    <div class="droplist__item item item_selected"
         @click="dropped = !dropped">
      {{this.selectedItem.name}}
    </div>
    <div class="droplist__options item__options" :class="{'item__options_dropped': dropped}">
      <div v-for="(item, index) in items"
           :key="index"
           class="droplist__item item item__optioned" @click="selectItem(item)">
        <div class="item__wrapper">
          {{item.name}}
        </div>
      </div>
    </div>
  </div>
</template>
<script>
  export default {
    name: 'DropList',
    props: ['list'],
    data() {
      return {
        selectedItem: {},
        dropped: false
      }
    },
    computed: {
      items() {
        return this.list.filter(l => { return l.name !== this.selectedItem.name })
      }
    },
    created() {
      this.selectedItem = this.list[0]
    },
    methods: {
      selectItem: function (value) {
        this.selectedItem = value
        this.dropped = false
        this.$emit('changeItem', this.selectedItem);
      }
    }
  }
</script>
<style scoped lang="scss">
  .droplist {
    display: flex;
    flex-direction: column;
    &__item {
      font-family: ProximaNova-Semibold;
      font-size: 1.9rem;
    }
  }
  .item {
    color: #fff;
    padding: 0rem 4rem;
    &__wrapper {
      box-shadow: 0 .2rem #66c05d;
      padding-top: 2rem;
      padding-bottom: 2rem;
    }
    &__optioned {
      &:hover {
        cursor: pointer;
        background: #66c05d;
        .item__wrapper {
          box-shadow: unset;
        }
      }
    }
    &_selected {
      cursor: pointer;
      background: white;
      padding-top: 2rem;
      padding-bottom: 2rem;
      color: #272730;
      background-image: url("../../assets/images/arrow_bottom.svg");
      background-repeat: no-repeat;
      background-color:  white;
      background-size: 2rem;
      background-position: calc(100% - 4rem) center;
    }
    &__options {
      max-height: 0;
      overflow: hidden;
      transition: max-height .3s;
      background: #52ac49;
      &_dropped {
        max-height: 1000px;
        transition: max-height .3s;
      }
    }
  }
</style>
