<template>
	<div class="static-card font__proxima-normal">
    <div class="static-card__icon" v-if="img">
      <img :src="img" alt="" :class="imgClass"/>
    </div>
    <div class="static-card__name font__proxima-bold" v-if="name">{{ name }}</div>
    <div class="static-card__description colors__font-f-grey" v-if="description">{{ description }}</div>
  </div>
</template>

<script>
export default {
  name: "StaticCard",
  props: ['img', 'name', 'description', 'imgClass']
}
</script>

<style scoped lang="scss">
  .static-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 2rem;
    &__icon, &__name {
      margin-bottom: 3.5rem;
    }
    &__name {
      font-size: 3rem;
    }
    &__icon {
      img {
        max-width: 6rem;
        max-height: 6rem;
      }
    }
    &__description {}
  }
</style>
