<template>
	<div class="includes font font__proxima-normal">
    <div class="includes__container">
      <div class="includes__item">
        <div class="includes__name font__proxima-extrabold font-upper">
          <div class="colors__font-green">Выбирайте</div>
          <div>лучшее</div>
        </div>
        <div class="colors__font-f-grey includes__item-description">
          Integer facilisis metus nec ipsum pharetra, sed luctus mauris posuere. Duis scelerisque dolor eu mi eleifend, nec iaculis ante interdum. Interdum et malesuada fames ac ante ipsum primis in faucibus.
        </div>
      </div>
      <div class="includes__item includes__item-images colors__font-f-grey" v-if="list.length > 0">
        <div v-for="item in list"
             :key="item.id"
        ><img :src="item.img" alt=""></div>
      </div>
    </div>
    <div class="includes__container">
      <p>123</p>
      <button @click="est">changeCategory</button>
    </div>
  </div>
</template>

<script>
export default {
  name: "StaticBestChoise",
  data() {
    return {
      items: [],
      categories: [],
      currentCategoryIndex: 0
    }
  },
  computed: {
    categoryId () {
      let category = this.categories[this.currentCategoryIndex]
      return category && category.id ? category.id : 0
    },
    list () {
      return this.items.filter((e) => e.categoryId === this.categoryId)
    }
  },
  mounted () {
    this.getList()
  },
  methods: {
    getList () {
      let max = Math.floor(Math.random() * 30) + 1
      for (let i = 0; i < max; i++) {
        this.items.push({
          id: i,
          categoryId: Math.floor(Math.random() * 4) + 1,
          img: `/img/prt${Math.floor(Math.random() * 3) + 1}.png`
        })
      }
      max = Math.floor(Math.random() * 4) + 1
      for (let i = 1; i <= max; i++) {
        this.categories.push({
          id: i,
          name: `category_${i}`
        })
      }
    },
    est () {
      if (this.categories[this.currentCategoryIndex + 1]) {
        this.currentCategoryIndex += 1
      } else {
        this.currentCategoryIndex = 0
      }
    }
  }
}
</script>

<style scoped lang="scss">
  .includes {
    padding-bottom: 7rem;
    padding-top: 7rem;
    &__container {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
    &__item {
      display: flex;
      flex-direction: column;
      &-description {
        max-width: 40rem;
        font-size: 2.4rem;
      }
      &-images {
        flex-direction: row;
        flex-wrap: wrap;
        display: flex;
        width: 50%;
        justify-content: space-between;
        & div {
          width: 30%;
          display: flex;
          align-items: center;
          justify-content: center;
          margin-bottom: 10rem;
        }
        img {
          max-width: 10rem;
        }
      }
    }
    &__name {
      margin-bottom: 4rem;
      line-height: 3.8rem;
      font-size: 4.8rem;
    }
  }
</style>
