<template>
	<div class="includes font font__proxima-normal container-md">
    <div class="includes__name font-h1 font__proxima-extrabold font-upper">Программа включает</div>
    <div class="includes__container">
      <div class="includes__item">
        <static-card
          :img="'/img/auto.png'"
          :name="'Доставка'"
          :description="'Доставку курьером до двери каждый второй день.'"
          class="includes__separated"
        ></static-card>
        <static-card
          :img="'/img/pribors.png'"
          :name="'Приборы'"
          :description="'Набор одноразовых столовых приборов к каждому лотку.'"
        ></static-card>
      </div>
      <div class="includes__item">
        <static-card
          :img="'/img/people.png'"
          :name="'Диетолог'"
          :description="'Консультации и контроль личного диетологга, помогающего подобрать оптимальную программу питания и отслеживающего процесс клиента по ходу всего времени контракта. Правильное питание купить вы можете в любое удобное время, обратившись к нашим менеджерам.'"
        ></static-card>
      </div>
      <div class="includes__item">
        <static-card
          :img="'/img/dish.png'"
          :name="'Блюда'"
          :description="'Разнообразный рацион из более 200 блюд с акцентом на диетическое мясо птицы, белой рыбы, морепродуктов и постное мясо.'"
        ></static-card>
      </div>
    </div>
  </div>
</template>

<script>
import StaticCard from './StaticCard'

export default {
  name: "StaticProgrammInclude",
  components: {StaticCard}
}
</script>

<style scoped lang="scss">
  .includes {
    margin-bottom: 7rem;
    &__name {
      margin-bottom: 7rem;
    }
    &__container {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
    &__item {
      display: flex;
      flex-direction: column;
      width: 21%;
    }
    &__separated {
      margin-bottom: 6.8rem;
    }
  }
</style>
