<template>
	<div class="includes font font__proxima-normal">
    <div class="includes__name font__proxima-extrabold font-upper">
      <div>Вот почему</div>
      <div>с нами интересно</div>
      <div>работать</div>
    </div>
    <div class="includes__container">
      <div class="includes__item">
        <static-card
          :img="'/img/clock.png'"
          :name="'Доставка'"
          :description="'Разнообразный рацион из более 200 блюд с акцентом на диетическое мясо птицы, белой рыбы, морепродуктов и постное мясо.'"
          :imgClass="'interest__img'"
        ></static-card>
      </div>
      <div class="includes__item">
        <static-card
          :img="'/img/shaiba.png'"
          :name="'Диетолог'"
          :description="'Разнообразный рацион из более 200 блюд с акцентом на диетическое мясо птицы, белой рыбы, морепродуктов и постное мясо.'"
          :imgClass="'interest__img'"
        ></static-card>
      </div>
      <div class="includes__item">
        <static-card
          :img="'/img/point.png'"
          :name="'Блюда'"
          :description="'Разнообразный рацион из более 200 блюд с акцентом на диетическое мясо птицы, белой рыбы, морепродуктов и постное мясо.'"
          :imgClass="'interest__img'"
        ></static-card>
      </div>
    </div>
  </div>
</template>

<script>
import StaticCard from './StaticCard'

export default {
  name: "StaticInterest",
  components: {StaticCard}
}
</script>

<style scoped lang="scss">
  .includes {
    padding-bottom: 12rem;
    &__name {
      margin-bottom: 8rem;
      font-size: 3.8rem;
      line-height: 3.2rem;
    }
    &__container {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
    &__item {
      display: flex;
      flex-direction: column;
      width: 21%;

    }
    &__separated {
      margin-bottom: 6.8rem;
    }
  }
</style>
<style lang="scss">
  .includes {
    &__item {
      img.interest__img {
        max-height: 8rem;
        max-width: 8rem;
      }
    }
  }
</style>
