<template>
  <section class="detail font font__proxima-normal">
    <div class="detail__period">
      item.period
    </div>
    <div class="detail__head">
      <div class="detail__name">item.name</div>
      <div class="detail__props">item.options</div>
    </div>
    <catalog-card-trade-offers></catalog-card-trade-offers>
    <deliveries-options></deliveries-options>
    <static-programm-include></static-programm-include>
    // TODO: call list by category ID
  </section>
</template>

<script>
import CatalogCardTradeOffers from '../../../components/catalog/card/CatalogCardTradeOffers'
import DeliveriesOptions from '../../../components/map/DeliveriesOptions'
import StaticProgrammInclude from "../../../components/static/StaticProgrammInclude";

export default {
  components: {StaticProgrammInclude, DeliveriesOptions, CatalogCardTradeOffers},
  mounted () {
    console.log(this.$router.currentRoute)
  }
}
</script>

<style>
</style>

