@mixin style-hiding {
  color: transparent;
  transition: .5s;
}

%pplaceholder-focus-hide {
  &:focus {
    color: red;
  }
}

.wrapper-contacts, contact-item__data {
  @extend %d-flex;
}

.wrapper-contacts {
  font-family: $extrabold;
}

.contact-item {
  width: 50%;
  padding: 7.9rem;
  box-sizing: border-box;
  &.info {
    background-color: $white;
  }
}
.info__ {
  &data {
    @extend %d-flex;
    flex-direction: column;
    width: 50%;
    &:nth-child(2) {
      margin-left: 10rem;
    }
    &-col {
      @extend %d-flex;
    }
    &-item {
      max-height: 33.33%;
      min-height: 33.33%;
      padding-top: 6.5rem;
      padding-bottom: 6rem;
      box-sizing: border-box;
    }
  }
  &caption {
    text-transform: uppercase;
    font-size: 4.3rem;
    line-height: 3.5rem;
    padding: 2.5rem 0;
    &_accented {
      color: $mid-green;
    }
  }
  &capt-data {
    font-size: 1.7rem;
    text-transform: uppercase;
  }
  &infotext {
    font-family: $normal;
    font-size: 1.85rem;
    color: #777;
    &_link {
      color: $mid-green;
    }
  }
}

.feedback, .feedback__field {
  background-color: $d-white;
}

.btn {
  @extend %button,
  %black-button;
  font-family: $extrabold;
  font-size: 2.55rem;
}

.feedback {
  font-family: $normal;
  &__ {
    &frm {
      padding-left: 2rem;
    }
    &caption {
      text-transform: uppercase;
      font-family: $extrabold;
      font-size: 4rem;
      padding: 1.5rem 0;
      &-note {
        font-size: 2.1rem;
        text-transform: initial;
        color: #d0d0d1;
        padding: .7rem 0;
      }
    }
    &input-fields {
      @extend %d-flex;
      flex-wrap: wrap;
      margin: 7rem 0 5rem;
    }
    &input-area {
      position: relative;
      font-size: 2rem;
      box-sizing: border-box;
      &_name {
        width: 42%;
        margin-right: auto;
      }
      &_email {
        width: 42%;
      }
      &_message {
        width: 100%;
      }
    }
    &lbl {
      position: absolute;
      left: 5rem;
      top: 1.4rem;
    }
    &field {
      padding: 1rem;
      border: 3px solid $border-grey;
      font-size: 2rem;
      box-sizing: border-box;
      display: block;
      width: 100%;
      font-family: inherit;
      &_name, &_email {
        padding-left: 10rem;
        margin-bottom: 5rem;
      }
      &_name, &_email, &_message {
        &:focus {
          &::-webkit-input-placeholder {@include style-hiding;}
          &::-moz-placeholder {@include style-hiding;}
          &::-moz-placeholder {@include style-hiding;}
          &:-ms-input-placeholder {@include style-hiding;}
        }
      }

      &_message {
        padding-top: 4rem;
        padding-left: 2rem;
        width: 100%;
        resize: none;
        font-family: inherit;
        height: 8.15rem;
      }

    }
    &policy {
      &-confirm {
        position: relative;
        display: flex;
      }
      &-check {
      @extend %d-flex;
        display: none;
      }
      &-check:checked + &-lbl::before {
        background-color: $mid-green;
       }
      &-lbl {
        @extend %d-flex;
        align-items: center;
        font-size: 1.7rem;
        &::before {
          content: '';
          background-color: inherit;
          width: 5rem;
          height: 5rem;
          border: 3px solid $border-grey;
          display: inline-block;
          box-sizing: border-box;
          margin-right: 2.5rem;
        }
      }
      &-check:checked + &-lbl::after {
        content: '';
        display: block;
        position: absolute;
        top: 0.5rem;
        left: 1.7rem;
        width: 1.3rem;
        height: 2.6rem;
        border: solid white;
        border-width: 0 3px 3px 0;
        transform: rotate(45deg);
      }
      &-link {
        color: #162228;
        text-decoration: underline;
      }
    }
    &btn-send {
      @extend %d-flex;
      align-items: center;
      padding: 2rem 4.3rem;
      margin: 6.5rem auto 6.5rem 0;
    }
    &btn-img {
      margin-left: 4.8rem;
      width: 4.3rem;
    }
  }
}
