$green-base: #52ac49;

.info {
  font-family: ProximaNova-Extrabold;
  background-color: white;
  width: 50%;
  padding: 7.9rem;
  box-sizing: border-box;
  &__ {
    &caption {
      text-transform: uppercase;
      font-size: 4.3rem;
      line-height: 3.5rem;
      padding: 2.5rem 0;
      &_accented {
        color: $green-base;
      }
    }
    &data {
      &-items {
        display: flex;
        flex-wrap: wrap;
        height: 80%;
        justify-content: space-between;
        margin: 6rem 0;
      }
      &-item {
        width: 43%;
        padding-bottom: 3rem;
        box-sizing: border-box;
      }
    }
    &capt-data {
      font-size: 1.7rem;
      text-transform: uppercase;
      line-height: 3rem;
    }
    &text-data {
      font-family: ProximaNova-Semibold;
      font-size: 1.85rem;
      color: #777;
      &_link {
        color: $green-base;
      }
    }
  }
}

@media screen and (max-width: 700px) {
  .info {
    width: initial;
    padding: .5rem 2rem;
    &__caption {
      font-size: 3.5rem;
      padding: 1.5rem;
      text-align: center;
    }
  }
}
