.feedback, .feedback__field {
  background-color: #f5f5f5;
}

.btn {
  border: none;
  outline: none;
  cursor: pointer;
  text-transform: uppercase;
  background-color: #191a1e;
  color: white;
  &:hover {
    background-color: lighten(#191a1e, 20%);
  }
  font-family: ProximaNova-Extrabold;
  font-size: 2.55rem;
}

.feedback {
  font-family: ProximaNova-Semibold;
  width: 50%;
  padding: 7.9rem;
  box-sizing: border-box;
  &__ {
    &frm {
      padding-left: 2rem;
    }
    &caption {
      text-transform: uppercase;
      font-family: ProximaNova-Extrabold;
      font-size: 4rem;
      padding: 1.5rem 0;
      &-note {
        font-size: 2.1rem;
        text-transform: initial;
        color: #a6a7a8;
        padding: .7rem 0;
      }
    }
    &input-fields {
      display: flex;
      flex-wrap: wrap;
      margin: 7rem 0 1rem;
    }
    &input-area {
      position: relative;
      font-size: 2rem;
      box-sizing: border-box;
      &_name {
        width: 42%;
        margin-right: auto;
      }
      &_email {
        width: 42%;
      }
      &_message {
        width: 100%;
      }
    }
    &lbl {
      position: absolute;
      left: 5rem;
      top: 1.4rem;
    }
    &field {
      padding: 1rem;
      border: 3px solid #e1e1e1;
      font-size: 2rem;
      box-sizing: border-box;
      display: block;
      width: 100%;
      font-family: inherit;
      &_name, &_email {
        padding-left: 10rem;
        margin-bottom: 5rem;
      }
      &_name, &_email, &_message {
        padding-left: 5rem;
        margin-bottom: 5rem;
        &:focus {
          &::-webkit-input-placeholder  {color: transparent; transition: 0.5s;}
          &::-moz-placeholder           {color: transparent; transition: 0.5s;}
          &:-moz-placeholder            {color: transparent; transition: 0.5s;}
          &:-ms-input-placeholder       {color: transparent; transition: 0.5s;}
        }
      }
    }
    &policy {
      &-confirm {
        position: relative;
        display: flex;
      }
      &-check {
        display: none;
      }
      &-check:checked + &-lbl::before {
        background-color: #52ac49;
      }
      &-lbl {
        display: flex;
        align-items: center;
        font-size: 1.7rem;
        &::before {
          content: '';
          background-color: inherit;
          width: 5rem;
          height: 5rem;
          border: 3px solid #e1e1e1;
          display: inline-block;
          box-sizing: border-box;
          margin-right: 2.5rem;
        }
      }
      &-check:checked + &-lbl::after {
        content: '';
        display: block;
        position: absolute;
        top: 0.5rem;
        left: 1.7rem;
        width: 1.3rem;
        height: 2.6rem;
        border: solid white;
        border-width: 0 3px 3px 0;
        transform: rotate(45deg);
      }
      &-link {
        color: #162228;
        text-decoration: underline;
      }
    }
    &btn-send {
      display: flex;
      align-items: center;
      padding: 2rem 4.3rem;
      margin: 6.5rem auto 1.5rem 0;
      &:disabled {
        color: grey;
      }
    }
    &btn-img {
      margin-left: 4.8rem;
      width: 4.3rem;
    }
  }
}

@media screen and (max-width: 700px) {
  .feedback {
    width: initial;
    padding: 1rem;
    &__ {
      &caption {
        text-align: center;
        &-note {
          padding: 0;
        }
      }
      &input-area {
        &_name, &_email {
          width: 48%;
        }
      }
      &input-fields {
        margin: 1rem 0;
      }
      &field {
        padding-left: 1.5rem;
        margin-bottom: 1rem;
      }
      &policy {
        &-lbl {
          font-size: 1.3rem;
        }
      }
      &btn-send {
        margin: 2rem auto;
        justify-content: center;
        width: 100%;
      }
    }
  }
}
