.dishes-otd {
  @extend %container-md;
  padding: 10rem 0;
  &__slider {
    margin-top: -8rem;
    display: flex;
    flex-direction: column;
  }
  &__items-container {
    @extend %d-flex, %align-items-center;
    position: relative;
    margin-bottom: 5rem;
    margin-top: 5rem;
  }
  &__amount-header {
    font-size: 2rem;
    font-family: $extrabold;
    letter-spacing: -.1rem;
    line-height: 1.8rem;
    text-transform: uppercase;
    &_green {
      color: $mid-green;
    }
  }
  &__item {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 30%;
    margin: 0 1.516%;
    img {
      height: 60rem;
    }
    &__info {
      @extend %d-flex, %f-column;
      width: 63%;
      align-self: center;
    }
    &__meal-time {
      text-transform: uppercase;
      font-family: $bold;
      color: $d-grey;
      letter-spacing: -.1rem;
      font-size: 1.7rem;
    }
    &__description {
      margin-top: 2rem;
      font-family: $bold;
      font-size: 1.4rem;
      color: $f-grey
    }
    &_hover {
      @extend %d-flex, %justify-content-center, %align-items-center, %f-column;
      cursor: pointer;
      position: absolute;
      height: 60rem;
      align-self: center;
    }
    &__options {
      @extend %d-flex;
      width: 27rem;
      justify-content: space-between;
      color: $d-grey;
      font-family: $bold;
      font-size: 1.3rem;
    }
    &__option {
      @extend %d-flex, %f-column;
      text-align: center;
      min-height: 10rem;
      &__value {
        border: .3rem solid $ff-grey;
        padding: 1rem 2rem;
        border-radius: 3rem;
        margin-bottom: 1rem;
      }
    }
  }
}
.dishes-otd__item__options-header {
  min-height: 3rem;
  width: 27rem;
  font-family: $extrabold;
  letter-spacing: -.1rem;
  font-size: 1.3rem;
  color: $d-grey;
  text-transform: uppercase;
  padding-left: 2.1rem;
  margin-bottom: 1rem;
}

.dishes-otd__item__options__description {
  width: 27rem;
  padding-left: 2.1rem;
  font-family: $normal;
  color: $ff-grey;
  font-size: 1.5rem;
  min-height: 15rem;
}
.dishes-otd__item__info {
  margin-top: 3rem;
}
.filter-opacity {
  filter: opacity(5%);
}

.dishes-otd__item_hover {
  display: none;
}

.dishes-otd__item:hover {
  img {
    filter: opacity(5%);
  }
  .dishes-otd__item_hover {
    display: flex;
  }
  .dishes-otd__item__info {
    display: none;
  }
}

.dishes-otd__items-container {
  display: flex;
}
.dishes-otd__amount-header {
  margin-left: auto;
}

@media (min-width: 700.001px) {
  .swiper-pagination-mobile {
    display: none!important;
  }
  .dishes-otd__mobile-info {
    display: none;
  }
}

@media (max-width: 700px) {
  .dishes-otd__amount-header {
    display: none;
  }
  .dishes-otd__item_hover {
    display: none;
  }
  .dishes-otd__item__info {
    display: none;
  }
  .dishes-otd__mobile-info {
    display: block;
  }
  .dishes-otd__item__options-header, .dishes-otd__item__options__description {
    padding-left: 0!important;
  }
  .dishes-otd__item__options-header {
    font-size: 2.3rem!important;
    margin-bottom: 2rem;
  }
  .dishes-otd {
    padding: 5rem 0!important;
  }
  .dishes-otd__item__options {
    margin-left: auto;
    margin-right: auto;
    width: 85%!important;
    font-size: 2rem!important;
    font-family: $normal!important;
  }
  .dishes-otd__item__meal-time {
    font-size: 2.3rem!important;
    text-transform: none!important;
    color: rgb(70,77,88)!important;
  }
  .dishes-otd__item__options__description {
    font-size: 1.9rem!important;
    color: rgb(70,77,88)!important;
    margin-top: 3rem;
    min-height: unset!important;
  }
  .dishes-otd__slider {
    flex-direction: column-reverse;
  }
  .dishes-otd__item:hover {
    img {
      filter: none!important;
    }
    .dishes-otd__item_hover {
      display: none!important;
    }
  }
  .dishes-otd__item {
    width: 100%;
    padding: 0!important;
    img {
      transform: rotate(-90deg);
      height: 40rem!important;
      width: 30rem!important;
      margin-left: 5.3rem;
      margin-bottom: 3rem;
    }
  }
}
