.dishes-item {
  display: flex;
  flex-direction: column;
  img {
    height: 60rem;
  }
  &__info {
    display: flex;
    flex-direction: column;
    width: 63%;
    align-self: center;
  }
  &__meal-time {
    text-transform: uppercase;
    font-family: ProximaNova-Bold;
    color: #191A1E;
    letter-spacing: -.1rem;
    font-size: 1.7rem;
  }
  &__description {
    margin-top: 2rem;
    font-family: ProximaNova-Bold;
    font-size: 1.4rem;
    color: #818183
  }
  &_hover {
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: grab;
    position: absolute;
    height: 60rem;
    align-self: center;
  }
  &__options {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-between;
    color: #191A1E;
    font-family: ProximaNova-Bold;
    font-size: 1.3rem;
    &-header {
      min-height: 3rem;
      width: 27rem;
      font-family: ProximaNova-Extrabold;
      letter-spacing: -.1rem;
      font-size: 1.3rem;
      color: #191A1E;
      text-transform: uppercase;
      padding-left: 2.1rem;
      margin-bottom: 1rem;
    }
    &-body {
      display: flex;
      justify-content: space-between;
      width: 100%;
    }
    &-description {
      width: 27rem;
      padding-left: 2.1rem;
      font-family: ProximaNova-Semibold;
      color: #C8C8C9;
      font-size: 1.5rem;
      min-height: 15rem;
    }
  }
  &__option {
    display: flex;
    flex-direction: column;
    text-align: center;
    min-height: 10rem;
    &-value {
      border: .3rem solid #C8C8C9;
      padding: 1rem 2rem;
      border-radius: 3rem;
      margin-bottom: 1rem;
    }
  }
  &__info {
    margin-top: 3rem;
  }
  &:hover {
    img {
      filter: opacity(5%);
    }
    .dishes-item {
      &_hover {
        display: flex;
      }
      &__info {
        visibility: hidden;
      }
    }
  }
  @media (min-width: 700.001px) {
    &__mobile-info {
      display: none;
    }
  }
  @media (max-width: 700px) {
    width: 100%;
    padding: 0!important;
    img {
      transform: rotate(-90deg);
      height: 40rem;
      width: 30rem;
      margin-left: 5.3rem;
      margin-bottom: 3rem;
    }
    &_hover {
      display: none;
    }
    &__info {
      display: none;
    }
    &__meal-time {
      font-size: 2.3rem;
      text-transform: none;
      color: rgb(70,77,88);
    }
    &__options {
      width: 100%;
      font-size: 2rem;
      font-family: ProximaNova-Semibold;
      &-header {
        padding-left: 0;
        font-size: 2.3rem;
        margin-bottom: 2rem;
      }
      &-body {
        margin-left: 5%;
        width: 85%;
      }
      &-description {
        padding-left: 0;
        font-size: 1.9rem;
        color: rgb(70,77,88);
        margin-top: 3rem;
        min-height: unset;
      }
    }
    &:hover {
      img {
        filter: none;
      }
      .dishes-item_hover {
        display: none;
      }
    }
    &__mobile-info {
      display: flex;
      flex-direction: column;
    }
  }
}
