.dishes {
  padding: 10rem 0;
  position: relative;
  &__slider {
    margin-top: -8rem;
    display: flex;
    flex-direction: column;
  }
  &__amount {
    margin-bottom: 5rem;
    margin-top: 5rem;
    display: flex;
    font-size: 2rem;
    font-family: ProximaNova-Extrabold;
    letter-spacing: -.1rem;
    line-height: 1.8rem;
    text-transform: uppercase;
    &-body {
      margin-left: auto;
    }
    &_green {
      color: #52AC49;
    }
  }
  &__item {
    position: relative;
    width: 30%;
    margin: 0 1.516%;
  }
  @media (max-width: 700px) {
    &__amount {
      display: none;
    }
    & {
      padding: 5rem 0;
    }
    &__slider {
      margin-top: 0;
      flex-direction: column-reverse;
    }
    &__item {
      width: 100%;
    }
  }
}
@media (min-width: 700.001px) {
  .swiper-pagination-mobile {
    display: none!important;
  }
}
