@media (min-width: 1010.0001px) {
  html {
    font-size: .6vw;
  }
}
@media (max-width: 1010px) {
  html {
    font-size: .5vw;
  }
}
@media (max-width: 726px) {
  html {
    font-size: .48vw;
  }
}
@media (min-width: 700.001px) {
  .custom_footer_hr {
    display: none;
  }
  .footer__payments_images_mobile {
    display: none;
  }
  .vertical-menu__title {
    align-items: start;
    img {
      display: none;
    }
  }
  .footer-menu__drop-down {
    align-items: start;
    .footer__drop-arrow {
      display: none;
    }
  }
  .social__icons {
    margin: 9.4rem 0 0 0;
    justify-content: start;
  }
  .facebook__mobile, .vk__mobile {
    width: 4rem;
    height: 4rem;
    img {
      height: 2rem;
    }
  }
  .facebook__mobile {
    margin-right: 3rem;
  }
}
@media (max-width: 700px) {
  html  {
    font-size: 2vw;
  }
  .desktop-nav {
    display: none;
  }

  .mobile-nav {
    display: flex;
    width: 15%;
    margin-left: auto;
  }

  .burger-button {
    margin-left: auto;
    background-color: $mid-green;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      width: 40%;
      filter: invert(100%);
    }
  }

  .nav {
    display: flex;
    align-items: stretch;
  }

  .nav__logo {
    width: 33.3333%;
    background-color: rgba(0,0,0,0);
  }

  .footer {
    flex-direction: column;
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
  .footer__payments {
    width: 90%;
  }
  .footer__nav {
    width: 100%;
    flex-direction: column;
    margin-top: 5rem;
  }
  .footer__applications {
    width: 100%;
  }
  .footer__logo {
    width: 60%;
  }
  .footer__payments_images {
    display: none;
  }
  .footer__applications_images {
    display: none;
  }

  .footer__bottom {
    display: flex;
    flex-direction: column-reverse;
  }
  .footer__juridical-information {
    display: block;
    text-align: center;
    font-size: 1.3rem;
  }
  .footer__privacy-policy {
    margin: 3rem auto;
    a {
      font-size: 1.4rem;
    }
  }
  .vertical-menu__items, .footer__ref-info {
    margin-top: 3rem;
    display: none;
  }
  .vertical-menu__title {
    box-shadow: 0 0 0;
    font-family: $bold;
    text-transform: none;
    margin: 0;
    display: flex;
    align-items: center;
  }
  .custom_footer_hr {
    border: none;
    border-bottom: .3rem solid $d-white;
    margin: 1.6rem 0;
  }
  .footer__payments mobile-container-out {
    padding: 0;
  }
  .footer-menu__drop-down_title {
    display: flex;
    align-items: center;
  }
  .dishes-otd__wrapper {
    background-color: $white;
  }
  .swiper-pagination-mobile {
    margin-top: 5rem!important;
  }
  .swiper-pagination-desktop {
    display: none!important;
  }
}



