<template>
	<section class="catalog"
           :style="{backgroundImage: 'url(' + getImage(currentCalories) + ')'}"
           :class="catalogClass"
  >
    <category-item :current-category="currentCategory"
                   :show-arrows="showArrows"
                   :button-name="buttonName"
                   :category-item-class="categoryItemClass"></category-item>
    <div v-show="showProgress" class="catalog-progress-wrapper container-md">
      <catalog-progress @timerTick="timerEvent" :time="sliderTime" :category="currentCategory"></catalog-progress>
    </div>
    <div v-show="showNavigation" class="catalog-list-wrapper container-md">
      <category-list @changeCategory="setCategory" :list="categoryList"></category-list>
    </div>
  </section>
</template>

<script>
import testApi from '~/api/test'
import CategoryItem from "~/components/catalog/slider/CategoryItem";
import CategoryList from "../CategoryList";
import CatalogProgress from "../CatalogProgress";
export default {
  name: "CatalogSlider",
  props: {
    showProgress: {
      default: true
    },
    showNavigation: {
      default: true
    },
    showArrows: {
      default: true
    },
    sliderTime: {
      default: 10
    },
    buttonName: {
      default: 'Подробнее'
    },
    catalogClass: {
      default: ''
    },
    categoryItemClass: {
      default: ''
    }
  },
  components: {CategoryList, CatalogProgress, CategoryItem},
  data () {
    return {
      currentCategory: 0,
      currentCalories: 0,
      idList: [],
      caloriesIdList: [],
      iterator: '',
      showMobileList: false
    }
  },
  computed: {
    categoryList () {
      return this.$store.state.catalog.categoryList
    },
    itemsList () {
      return this.$store.getters['catalog/getItemsForCategory'](this.currentCategory).slice(0,4)
    },
  },
  created() {
    this.getIdList()
    this.currentCategory = this.idList[0]
    this.getCaloriesIdList()
    this.currentCalories = this.caloriesIdList[0]
    this.iterator = this.makeIterator(this.idList)
  },
  methods: {
    changeCalories: function (id) {
      let current = this.currentCalories;
      let switchedId

      this.currentCalories = id
      for (let i = 0; i < this.caloriesIdList.length; i++) {
        if(this.caloriesIdList[i] === id) {
          switchedId = i
        }
      }
      this.caloriesIdList[0] = id
      this.caloriesIdList[switchedId] = current
      this.showMobileList = !this.showMobileList
    },
    findCalory: function (id) {
      return this.itemsList.find((e) => {
        return e.id === id
      })
    },
    getImage: function (id) {
      return this.findCalory(id).img
    },
    getItems () {
      if (this.itemsList && this.itemsList.length > 0) return
      testApi.getItems()
        .then((response) => {
          let items = response.data.filter((e) => e.albumId === this.currentCategory)
          this.$store.dispatch('catalog/setItemsAction', {categoryId: this.currentCategory, items})
        })
    },
    transformHeader: function (header) {
      return { h1: header.substring(0,header.lastIndexOf(' ')), h2: header.substring(header.lastIndexOf(' ') + 1)}
    },
    getCaloryIndex: function (id) {
      for (let i = 0; i < this.itemsList.length; i++) {
        if (this.itemsList[i].id === id) {
          return i
        }
      }
    },
    nextItem: function () {
      let index = this.getCaloryIndex(this.currentCalories)
      if(index === this.itemsList.length - 1) {
        this.currentCalories = this.itemsList[0].id;
      } else {
        this.currentCalories = this.itemsList[index+1].id;
      }
    },
    prewItem: function () {
      let index = this.getCaloryIndex(this.currentCalories)
      if(index === 0) {
        this.currentCalories = this.itemsList[this.itemsList.length - 1].id;
      } else {
        this.currentCalories = this.itemsList[index-1].id;
      }
    },
    getIdList: function () {
      this.categoryList.forEach((item) => {
        if (item.children && item.children.length > 0) {
          item.children.forEach((item) => {
            this.idList.push(item.id)
          })
        } else {
          this.idList.push(item.id)
        }
      })
    },
    getCaloriesIdList: function () {
      this.caloriesIdList = []
      this.itemsList.forEach((e) => {
        this.caloriesIdList.push(e.id)
      })
    },
    makeIterator: function (array) {
      let nextIndex = 1
      return {
        next: function(){
          return nextIndex < array.length ?
            {value: array[nextIndex++], done: false} :
            {done: true}
        },
        reset: function () {
          nextIndex = 0;
        },
        set: function (num) {
          nextIndex = num
        }
      }
    },
    timerEvent: function () {
      let item = this.iterator.next()
      if (item.done) {
        this.iterator.reset()
        item = this.iterator.next()
      }
      this.currentCategory = item.value
      this.getCaloriesIdList()
      this.currentCalories = this.itemsList[0].id
    },
    setCategory: function (id) {
      this.currentCategory = id
      this.getCaloriesIdList()
      this.currentCalories = this.itemsList[0].id
      let switchedId
      for (let i = 0; i < this.idList.length; i++) {
        if(this.idList[i] === id) {
          switchedId = i + 1
        }
      }
      this.iterator.set(switchedId)
    }
  }
}
</script>

<style lang="scss">
  @import "../../../assets/css/components/catalog/slider/catalog-slider.scss";
  .catalog-progress-wrapper {
    position: relative;
    margin-bottom: 7rem;
    margin-top: 5rem;
    @media (max-width: 700px) {
      margin-top: -23rem;
      margin-bottom: 23rem;
    }
  }
  .catalog-list-wrapper {
    position: relative;
  }
</style>
