<template>
  <div class="category-item" :class="categoryItemClass">
    <div class="category-item__header">
      <div class="category-item__name container-md header_h1">
        <div class="header_h1_green"
             v-if="transformHeader(findCalory(currentCalories).name).h1">
          {{transformHeader(findCalory(currentCalories).name).h1}}
        </div>
        <div>
          {{transformHeader(findCalory(currentCalories).name).h2}}
        </div>
      </div>
      <div class="category-item__programs container-md">
        <div class="category-item__programs_length">
          <div>
            {{itemsList.length}}
          </div>
        </div>
        <div class="category-item__programs_header">Программы</div>
      </div>
    </div>
    <div class="category-item__calories">
      <div class="category-item__calories_header">Калории</div>
      <div  class="category-item__calories_programs">
        <div v-for="(item) in itemsList"
             :key="item.id"
             :class="{'active_program': item.id === currentCalories}"
             class="calorie"
             @click="changeCalories(item.id)"
        ><div class="calorie__value">{{ item.calories }}</div></div>
      </div>
    </div>
    <div class="category-item__calories_mobile">
      <div  class="category-item__calories_programs">
        <div v-for="(item) in caloriesIdList"
             :key="item"
             :class="{'active_program': item === currentCalories, 'd-flex-i' : showMobileList}"
             class="calorie"
             @click="changeCalories(item)"
        ><div class="calorie__value">{{ findCalory(item).calories }}</div></div>
      </div>
    </div>
    <div class="category-item__buttons_wrapper container-main">
      <div class="category-item__details">
        <div class="category-item__details_header">
          От {{findCalory(currentCalories).minPrice}} Р / День
        </div>
        <div class="category-item__details_button button_filled-black">
          <nuxt-link :to="findCalory(currentCalories).code">
            <div class="category-item__details_header_mobile">
              От {{findCalory(currentCalories).minPrice}} Р<br>/ День
            </div>
            <div>{{buttonName}}</div>
            <div class="button-arrow-svg">
              <img class="arrow-svg" src="../../../assets/images/arrow.svg" alt="arrow">
            </div>
          </nuxt-link>
        </div>
      </div>
      <div v-if="showArrows" class="category-item__arrow-buttons">
        <img @click="prewItem" src="/slider/slider_arrow_left.svg" alt="slider_arrow_left">
        <img @click="nextItem" src="/slider/slider_arrow_right.svg" alt="slider_arrow_right">
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    name: "CatalogItem",
    props: {
      showArrows: {
        default: true
      },
      buttonName: {
        default: 'Подробнее'
      },
      categoryItemClass: {
        default: ''
      },
      currentCategory: {
        default: 10
      }
    },
    data () {
      return {
        currentCalories: 0,
        caloriesIdList: [],
        showMobileList: false
      }
    },
    computed: {
      itemsList () {
        return this.$store.getters['catalog/getItemsForCategory'](this.currentCategory).slice(0,4)
      },
    },
    created() {
      this.getCaloriesIdList()
      this.currentCalories = this.caloriesIdList[0]
    },
    methods: {
      changeCalories: function (id) {
        let current = this.currentCalories;
        let switchedId

        this.currentCalories = id
        for (let i = 0; i < this.caloriesIdList.length; i++) {
          if (this.caloriesIdList[i] === id) {
            switchedId = i
          }
        }
        this.caloriesIdList[0] = id
        this.caloriesIdList[switchedId] = current
        this.showMobileList = !this.showMobileList
      },
      findCalory: function (id) {
        return this.itemsList.find((e) => {
          return e.id === id
        })
      },
      getImage: function (id) {
        return this.findCalory(id).img
      },
      getItems() {
        if (this.itemsList && this.itemsList.length > 0) return
        let items = response.data.filter((e) => e.albumId === this.currentCategory)
        this.$store.dispatch('catalog/setItemsAction', {categoryId: this.currentCategory, items})
      },
      transformHeader: function (header) {
        return {h1: header.substring(0, header.lastIndexOf(' ')), h2: header.substring(header.lastIndexOf(' ') + 1)}
      },
      getCaloryIndex: function (id) {
        for (let i = 0; i < this.itemsList.length; i++) {
          if (this.itemsList[i].id === id) {
            return i
          }
        }
      },
      nextItem: function () {
        let index = this.getCaloryIndex(this.currentCalories)
        if (index === this.itemsList.length - 1) {
          this.currentCalories = this.itemsList[0].id;
        } else {
          this.currentCalories = this.itemsList[index + 1].id;
        }
      },
      prewItem: function () {
        let index = this.getCaloryIndex(this.currentCalories)
        if (index === 0) {
          this.currentCalories = this.itemsList[this.itemsList.length - 1].id;
        } else {
          this.currentCalories = this.itemsList[index - 1].id;
        }
      },
      getCaloriesIdList: function () {
        this.caloriesIdList = []
        this.itemsList.forEach((e) => {
          this.caloriesIdList.push(e.id)
        })
      }
    }
  }
</script>

<style lang="scss">
  @import "../../../assets/css/components/catalog/slider/category-item.scss";
</style>
