<template>
  <div class="review__item">
    <div class="review__image-wrapper">
      <img :src="element.imgSrc" alt="Reviewer" class="review__image"/>
    </div>
    <div class="review__program">
      <p class="review__program-caption">Программа</p>
      <div class="review__program-name">
        <p class="review__program-name_accented">Снижение</p>
        веса
      </div>
      <div class="review__program-calories">
        <div class="review__program-calories-label">Калории:</div>
        <div class="review__program-calories-count">{{element.calories}}</div>
      </div>
    </div>
    <div class="review__description">
      <p class="review__fullname">
        {{element.firstname}} {{element.surname}}
      </p>
      <p class="review__text">
        {{element.comment}}
      </p>
    </div>
    <div class="review__nsocials">
      <div :class="getNSocial(nsLink.key) + '__mobile'" v-for="(nsLink, key) in element.netSocialLinks" :key="key">
        <a class="review_link" :href="nsLink.link">
          <img :src="getImgUrl(getNSocial(nsLink.key))" :alt="nsLink.key">
        </a>
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    name: "reviewCard",
    props: ['element'],
    methods: {
      getNSocial(key) {
        return key === 'vk' ? 'vk' : 'facebook';
      },
      getImgUrl(fileName) {
        return require('~/assets/images/' + fileName + '__icon.svg');
      }
    }
  }
</script>

<style scoped lang="scss">
  @import '../../assets/css/components/reviews/review-card.scss';
</style>
