<template>
  <form action="" class="subscribe">
    <input type="email" class="subscribe__email" placeholder="oleg@mateandmate.com" pattern="^\w+@[a-zA-Z_]+?\.[a-zA-Z]{2,6}$">
    <button type="submit" class="subscribe__send btn">
      Подписаться
      <img src="../../assets/images/arrow.svg" class="subscribe__btn-img subscribe__btn-img_h" alt="more">
    </button>
  </form>
</template>

<script>
  export default {
    name: "subscribeFormm"
  }
</script>

<style scoped lang="scss">
  @import '../../assets/css/components/reviews/subscribe-formm.scss';
</style>
