/*calculates pixels to rem
 and sets value for prop*/
@mixin propRem($prop, $valPx, $valBase) {
  //@include pxTOrem($valPx, $valBase);
  //#{$prop}: ($valPx / $valBase) + 0rem;
  //#{$prop}: unit($valPx / $valBase);
  //#{$prop}: calc($valPx / $valBase);
  $per: calc(#{$valBase} + 0px);
  #{$prop}: calc(#{$valPx} / #{$per});
}
/*calculates pixels to em
 and sets value for prop*/
@mixin propEm($prop, $valPx, $valBase) {
  #{$prop}: ($valPx / $valBase) + 0em;
}

/*
function vwTOpx(value) {
  let w = window;
  let d = document;
  de = d.documentElement,
  tn = d.getElementsByTagName('body')[0],
  x = w.innerWidth || de.clientWidth || tn.clientWidth,
  y = w.innerHeight|| de.clientHeight|| tn.clientHeight;

  var result = (x*value)/100;
return(result);
}
*/
