<template>
  <!-- You can find this swiper instance object in current component by the "mySwiper"  -->
  <div v-swiper:mySwiper="swiperOption" class="my-swiper">
    <div class="swiper-wrapper">
      <div class="swiper-slide" v-for="i in 9" :key="i">Slide {{ i + 1 }}</div>
    </div>
    <div class="swiper-scrollbar"   slot="scrollbar"></div>
  </div>
</template>

<script>
  export default {
    data () {
      return {
        swiperOption: {
          loop: true,
          slidesPerView: 'auto',
          centeredSlides: true,
          spaceBetween: 30,
          scrollbar: {
            el: '.swiper-scrollbar',
            hide: false
          }
        }
      }
    },
    mounted() {

    }
  }
</script>


<style lang="scss" scoped>
  .swiper-wrapper {
    display: flex;
  }
  .swiper-slide {
    width: 30rem;
    font-size: 10rem;
    width: 40rem;
  }
</style>
