@font-face{
  font-family: "ProximaNova-Bold";
  src: url("fonts/ProximaNova/ProximaNova-Bold/ProximaNova-Bold.ttf") format("truetype");
}

@font-face{
  font-family: "ProximaNova-Extrabold";
  src: url("fonts/ProximaNova/ProximaNova-Extrabold/ProximaNova-Extrabld.ttf") format("truetype");
}

@font-face{
  font-family: "ProximaNova-Semibold";
  src: url("fonts/ProximaNova/ProximaNova-Semibold/ProximaNova-Semibold.ttf") format("truetype");
}
