<template>
  <div class="filter-list">
    <c-filter :label="filterList[0].label"
              :fItems="filterList[0].fItems"
              :fActiveItems="filterActiveList.meal"
              @onSelect="selectMeal"></c-filter>
    <c-filter :label="filterList[1].label"
              :fItems="filterList[1].fItems"
              :fActiveItems="filterActiveList.calories"
              @onSelect="selectCalorie"></c-filter>
  </div>
</template>
<script>
  import CFilter from '~/components/filter/CFilter'
  export default {
    name: 'CFilterList',
    components: {CFilter},
    props: ['filterList'],
    data() {
      return {

      }
    },
    computed: {
      filterActiveList() {
        return this.$store.getters['filter/getFilterList']
      }
    },
    methods: {
      selectMeal: function (value) {
        if(value.length > 0) {
          this.$store.dispatch('filter/setFilterListItemAction', {key: 'meal', value: value})
        } else {
          this.$store.dispatch('filter/deleteItemAction', {key: 'meal', value: value})
        }
        this.$emit('onSelect')
      },
      selectCalorie: function (value) {
        if(value.length > 0) {
          this.$store.dispatch('filter/setFilterListItemAction', {key: 'calories', value: value})
        } else {
          this.$store.dispatch('filter/deleteItemAction', {key: 'calories', value: value})
        }
        this.$emit('onSelect')
      }
    }
  }
</script>
<style scoped lang="scss">
  .filter-list {
    display: flex;
    justify-content: space-between;
    &-column {
      flex-direction: column;
    }
    @media (max-width: 700px) {
      align-items: start;
      .filter {
        align-items: start;
        margin-top: 2rem;
        margin-left: 2rem;
        flex-direction: column;
      }
    }
  }
</style>
<style scoped>
  @media (max-width: 700px) {
    .filter-list >>> .filter__label {
      margin-bottom: 1rem;
    }
    .filter-list >>> .filter__items {
      flex-direction: column;
      align-items: start;
    }
    .filter-list >>> .filter__item {
      margin-bottom: 1rem;
      border-width: .2rem;
    }
  }
</style>
