<template>
  <div class="filter">
    <div class="filter__label">
      {{label}}
    </div>
    <div class="filter__items">
      <div class="filter__item item"
           :class="{'item-active': activeItem(fItem)}"
           v-for="(fItem, index) in fItems"
           :key="index"
            @click="changeItemState(fItem)">
        {{fItem.name}}
      </div>
    </div>
  </div>
</template>
<script>
  export default {
    name: 'CFilter',
    props: ['label', 'fItems', 'fActiveItems'],
    data() {
      return {
        activeItems: []
      }
    },
    mounted() {
      if (this.fActiveItems && this.fActiveItems.length > 0) {
        this.activeItems = this.fActiveItems
      }
    },
    methods: {
      activeItem: function (item) {
        return this.activeItems.find(i => {
          return i === item.value
        }) > -1
      },
      changeItemState: function (item) {
        if (this.activeItems.find(i => {
          return i === item.value
        }) > -1) {
          this.activeItems.splice(this.activeItems.indexOf(item.value),1)
        } else {
          this.activeItems.push(item.value)
        }
        this.$emit('onSelect', this.activeItems, this.label)
      }
    }
  }
</script>
<style lang="scss">
  .filter {
    display: flex;
    align-items: center;
    &-column {
      flex-direction: column;
    }
    &__label {
      font-family: ProximaNova-Extrabold;
      color: #191a1e;
      margin-right: 2rem;
      font-size: 1.5rem;
    }
    &__items {
      display: flex;
      align-items: center;
      font-size: 1.2rem;
    }
    .item {
      cursor: pointer;
      color: #bfbfbf;
      font-family: ProximaNova-Bold;
      padding: .8rem 1.8rem;
      border: .3rem solid #bfbfbf;
      border-radius: 5rem;
      margin-right: 2rem;
      &:last-child {
        margin-right: 0;
      }
      &-active {
        border-color: #52ac49;
        color: #191a1e;
      }
    }
  }
</style>
