<template>
    <div class="certificate">
        <div class="certificate__button font__proxima-extrabold">
          <nuxt-link to="">СЕРТИФИКАТ
            <img src="../assets/images/arrow-right-black.svg">
          </nuxt-link>
        </div>
    </div>
</template>

<script>
export default {
  name: "MainCertificate"
}
</script>

<style lang="scss" scoped>
  .certificate {
    width: 50%;
    height: 43.15rem;
    background-image: url(/certificate/Certificare.png);
    background-size: 100%;
    background-position: center;

    &__button {
      background-color: rgba(0,0,0,0);
      border: .4rem solid #52ac49;
      height: 3.85rem;
      width: 23rem;
      z-index: 2;
      position: relative;
      display: block;
      left: 5.8rem;
      top: 29rem;

      img {
        width: 3rem;
        position: relative;
        left: 3rem;
        filter: invert(100%);
      }

      a {
        color: #000;
        font-size: 1.7rem;
        position: relative;
        left: 3.5rem;
        top: 1rem;
      }
    }
  }
  @media (max-width: 700px) {
    .certificate {
      transform: rotate(270deg);
      background-size: 172%;
      background-position-x: 90%;
      height: 50rem;
      width: 54rem;
      position: relative;
      right: 2rem;
      top: 2rem;

      &__button {
        background-color: #191A1E;
        height: 6.5rem;
        width: 44.7rem;
        top: 44%;
        left: -21.4%;
        border: 0;
        display: inline-block;
        position: relative;
        transform: rotate(90deg);
        img {
          width: 4.5rem;
          position: relative;
          left: 21rem;
          top: 0.5rem;
          filter: none;
        }
        a {
          color: #ffffff;
          font-size: 2rem;
          position: relative;
          left: 3.5rem;
          top: 1.8rem;
        }
      }
    }
  }

</style>
