<template>
    <div class="main-reviews">
      <div class="main-reviews__background"></div>
      <div class="main-reviews__header font__proxima-bold"><p>ОТЗЫВЫ</p></div>
      <div v-swiper:mySwiper="swiperOption" class="main-reviews__swiper font__proxima-bold">
        <div class="swiper-wrapper">
          <div class="swiper-slide main-reviews__slide" v-for="(review, index) in reviews" :key="index">
            <div class="main-reviews__text"><p>{{ review.text }}</p></div>
            <div class="main-reviews__name">
              <div>{{ review.name }}</div>
              <div>{{ review.job }}</div>
            </div>
          </div>
        </div>
        <div class="swiper-pagination main-reviews-pagination" slot="pagination"></div>
      </div>
      <div class="main-reviews__footer">
        <div class="main-reviews__footer__button font__proxima-extrabold">
          <nuxt-link to="reviews">ВСЕ ОТЗЫВЫ
            <img src="../assets/images/arrow.svg">
          </nuxt-link>
        </div>
        <div class="main-reviews__footer__social">
          <img src="../assets/images/vk-facebook__logo.svg">
        </div>
      </div>
    </div>
</template>

<script>
export default {
  name: "MainReviews",
  props: ['reviews'],
  data () {
    return {
      swiperOption: {
        autoplay: {
          delay: 3000
        },
        pagination: {
          el: '.swiper-pagination',
          bulletElement: 'div',
          clickable: true,
          bulletClass: 'main-reviews-pagination__bullet',
          bulletActiveClass: 'main-reviews-pagination__bullet_active'
        }
      }
    }
  }
}
</script>

<style lang="scss">
  @import "../assets/css/components/main-reviews.scss";
  .main-reviews {
    &__swiper {
      display: flex;
      height: 61.5%;
      z-index: 4;
      position: relative;
      bottom: 100%;
    }
  }
  @media (min-width: 700px) {
    .main-reviews-pagination {
      display: none;
    }
  }
  @media (max-width: 700px) {
    .main-reviews-pagination {
      display: flex;
      bottom: 0;
      width: 90%!important;
      left: 11.5%!important;
      &__bullet {
        width: 18%;
        margin-right: 1.8rem;
        height: 0.7rem;
        border-radius: 0;
        background-color: #7f828b;
        opacity: 0.4;
        &_active {
          background: #52ac49;
          opacity: 1;
        }
      }
    }
  }
</style>
