<template>
    <div class="instagram">
      <div class="instagram__name">
        <img src="../assets/images/instagram.svg">
      </div>
      <div class="instagram__images">
        <div v-swiper:mySwiper="swiperOption" class="my-swiper instagram__swiper">
          <div class="swiper-wrapper instagram__wrapper">
            <div class="swiper-slide instagram__slide" v-for="(instagram, index) in instagrams" :key="index">
              <img :src="instagram">
            </div>
          </div>
          <div class="swiper-pagination instagram__pagination" slot="pagination"></div>
        </div>
      </div>
    </div>
</template>

<script>
export default {
  name: "MainInstagram",
  props: ['instagrams'],
  data () {
    return {
      swiperOption: {
        loop: false,
        centeredSlides: false,
        slidesPerView: 'auto',
        translate: true,
        pagination: {
          el: '.swiper-pagination',
          clickable: false,
          dynamicBullets: true,
        }
      }
    }
  }
}
</script>

<style lang="scss">
  @import "../assets/css/components/main-instagram.scss";
</style>
