<template>
  <transition>
    <div class="main-reviews">
      <div class="main-reviews_pc">
        <div class="main-reviews_pc_background"></div>
        <div class="main-reviews_pc_name"><p>ОТЗЫВЫ</p></div>
        <div class="main-reviews_pc_content">
          <div class="main-reviews_pc_content_text"><p>{{ items[number].text }}</p></div>
          <div class="main-reviews_pc_content_firstname">
            <div>{{ items[number].name }}</div>
            <div class="main-reviews_pc_content_firstname_job">{{ items[number].job }}</div>
          </div>
        </div>
        <div class="main-reviews_pc_footer">
          <div class="main-reviews_pc_footer_button">
            <nuxt-link to="/reviews">ВСЕ ОТЗЫВЫ
              <img src="../assets/images/arrow-right-black.svg">
            </nuxt-link>
          </div>
          <div class="main-reviews_pc_footer_vk-facebook">
            <img src="../assets/images/vk-facebook__logo.svg">
          </div>
        </div>
      </div>
    </div>
  </transition>
</template>

<script>
export default {
  name: "PageReviews",
  data () {
    return {
      number: 0,
      speedTimer: 3000,
      items:[{
        text: 'Dolor sit amet, in per tempor regione lucilius, phaedrum sensibus interpretaris asdasdasdasdasdasdasdaspro ei.',
        name: 'Natalia Gorozhanova',
        job: 'Film actress'
      },
        {
          text: 'asdasd asdasdsad asdasdasd asdasdasdsad asdasdsad asdasd asdasdasds',
          name: 'dasdasd asdsadasd',
          job: 'asdasdasd asdasdsa'
        },
        {
          text: 'asdasd asdasdsad asdasdasd asdasdasdsad asdasdsad asdasd asdasdasds',
          name: 'dasdasd asdsadasd',
          job: 'asdasdasd asdasdsa'
        },
        {
          text: 'asdasd asdasdsad asdasdasd asdasdasdsad asdasdsad asdasd asdasdasds',
          name: 'dasdasd asdsadasd',
          job: 'asdasdasd asdasdsa'
        }]
    }
  },
  mounted () {
    this.addNumber()
  },
  methods: {
    addNumber : function () {
      let v = this;
      setInterval(function () {
        v.number = v.number + 1;
        if (v.number >= v.items.length) {
          v.number = 0
        }
      }, v.speedTimer)
    }
  }
}
</script>

<style scoped>

</style>
