<template>
    <div class="static">
      <div class="static_one">SEARCH<br> ENGINE OPTIMIZATION</div>
      <div class="static_two">Suspendisse eget elit vitae velit dignissim lobortis.<br>
        Cras dignissim nunc vitae laoreet cursus. Aliquam bibendum<br>
        velit non ante pulvinar suscipit pharetra posuere.<br>
        Ut a lacus quis sem.</div>
    </div>
</template>

<script>
    export default {
        name: "PageLabel"
    }
</script>

<style scoped>

</style>
