<template>
    <div class="read-certificate">
      <page-reading></page-reading>
      <page-certificate></page-certificate>
    </div>
</template>

<script>
import PageReading from "./PageReading";
import PageCertificate from "./PageCertificate";
export default {
  name: "PageReadCertificate",
  components: {PageCertificate, PageReading}
}
</script>

<style scoped>
  .read-certificate {
    display: flex;
    width: 100%;
  }
</style>
