<template>
	<footer class="footer">
    <div class="footer__payments mobile-container-out">
      <div class="footer__logo">
        <img src="../assets/images/nav__logo.svg" alt="nav__logo">
      </div>
      <div class="footer__payments_images">
        <img class="visa__logo" src="../assets/images/visa__logo.svg" alt="visa__logo">
        <img class="mastercard__logo" src="../assets/images/mastercard__logo.svg" alt="mastercard__logo">
        <img class="paypal__logo" src="../assets/images/paypal__logo.svg" alt="paypal__logo">
        <img class="pay__logo" src="../assets/images/pay__logo.svg" alt="pay__logo">
        <img class="android__logo" src="../assets/images/android__logo.svg" alt="android__logo">
      </div>
    </div>
    <div class="footer__nav">
      <menu-vertical class="footer__nav_item mobile-container-out" :menu="services"></menu-vertical>
      <hr class="custom_footer_hr">
      <menu-vertical class="footer__nav_item mobile-container-out" :menu="packages"></menu-vertical>
      <hr class="custom_footer_hr">
      <div class="footer-menu__drop-down">
        <div class="footer__nav_item vertical-menu mobile-container-out">
          <div class="footer-menu__drop-down_title" @click="isVisibleRefInfo = !isVisibleRefInfo">
            <div class="vertical-menu__title">Справочная служба</div>
            <img class="footer__drop-arrow" src="../assets/images/arrow_bottom.svg" alt="arrow_bottom">
          </div>
          <div
            class="footer__ref-info"
            :class="{'d-flex-i': isVisibleRefInfo}">
            <a href="">Москва: <span>+ 7495 775 82 33</span></a>
            <a href="">По России: <span>+ 7 800 775 82 33</span></a>
          </div>
        </div>
        <hr class="custom_footer_hr">
        <div class="social__icons">
          <div class="facebook__mobile">
            <a href="">
              <img src="../assets/images/facebook__icon.svg" alt="facebook__icon">
            </a>
          </div>
          <div class="vk__mobile">
            <a href="">
              <img src="../assets/images/vk__icon.svg" alt="vk__icon">
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="footer__payments_images_mobile">
      <img class="visa__logo" src="../assets/images/visa__logo.svg" alt="visa__logo">
      <img class="mastercard__logo" src="../assets/images/mastercard__logo.svg" alt="mastercard__logo">
      <img class="paypal__logo" src="../assets/images/paypal__logo.svg" alt="paypal__logo">
      <img class="android__logo" src="../assets/images/android__logo.svg" alt="android__logo">
      <img class="pay__logo" src="../assets/images/pay__logo.svg" alt="pay__logo">
    </div>
    <div class="footer__applications">
      <div class="footer__applications_wrapper">
        <div class="footer__applications_images">
          <div class="footer__applications_image"><img src="../assets/images/appstore__logo.svg" alt="appstore__logo"></div>
          <div class="footer__applications_image"><img src="../assets/images/playmarket__logo.svg" alt="playmarket__logo"></div>
        </div>
        <div class="footer__bottom">
          <div class="footer__juridical-information">
            <div>ОГРН: 1187746012893</div>
            <div>ИНН: 7725414072 КПП: 772501001</div>
          </div>
          <div class="footer__privacy-policy"><a href="">Политика конфиденциальности</a></div>
        </div>
      </div>
    </div>
  </footer>
</template>

<script>
import MenuVertical from "./menu/MenuVertical";
export default {
  name: "PageFooter",
  components: {MenuVertical},
  data () {
    return {
      isVisibleRefInfo: false,
      services: {
        title: 'Наш сервис',
        items: [
          {
            name: 'О компании',
            link: '/o'
          },
          {
            name: 'Прайс-лист',
            link: '/p'
          },
          {
            name: 'Как мы работаем',
            link: '/k'
          },
          {
            name: 'Блок',
            link: '/b'
          },
          {
            name: 'Отзывы',
            link: '/ot'
          },
          {
            name: 'СМИ о нас',
            link: '/s'
          }
        ]
      },
      packages: {
        title: 'Программы',
        items: {}
      }
    }
  },
  created() {
    this.packages.items = this.$store.getters['catalog/getCategories'].map((e) => {
      return {
        name: e.name,
        link: '/' + e.code
      }
    })
  }
}
</script>

<style scoped>

</style>
