<template>
    <div class="main-certificate">
      <div class="main-certificate_pc">
        <div class="main-certificate_pc_button">
          <nuxt-link to="">СЕРТИФИКАТ
            <img src="../assets/images/arrow-right-black.svg">
          </nuxt-link>
        </div>
      </div>
    </div>
</template>

<script>
export default {
  name: "PageCertificate"
}
</script>

<style lang="scss" scoped>

</style>
