<template>
	<header>
    <nav class="container-main nav">
      <div class="nav__logo">
        <nuxt-link to="/">
          <img src="../assets/images/nav__logo.svg" alt="nav-logo">
        </nuxt-link>
      </div>
      <div class="desktop-nav">
        <div class="nav__drop">
          <nav-menu :menu="menu"></nav-menu>
        </div>
        <div class="nav__buttons">
          <div class="nav__program">
            <a @click.prevent="toCatlog">
              <div>
                Выбрать
                <br>
                Программу
              </div>
              <div class="button-arrow-svg">
                <img class="arrow-svg" src="../assets/images/arrow.svg" alt="arrow">
              </div>
            </a>
          </div>
          <div class="nav__consultation">
            <nuxt-link to="/consult">
              <div>
                Консультация
                <br>
                Диетолога
              </div>
            </nuxt-link>
          </div>
        </div>
        <div class="nav__info">
          <div class="nav__phone">+ 7495 775 82 33</div>
          <div class="nav__schedule">с 9:00 до 21:00 без выходных</div>
        </div>
      </div>
      <div @click="isModalOpen = !isModalOpen" class="mobile-nav">
        <div class="burger-button">
          <img src="../assets/images/burger.png" alt="burger">
        </div>
      </div>
      <div v-if="isModalOpen" class="nav__mobile_modal">
        <div @click="isModalOpen = !isModalOpen" class="nav__exit-tutton">
          <img src="../assets/images/cross.png" alt="cross">
        </div>
        <div class="nav__mobile_modal_ml">
          <nuxt-link :to="menu.left.link">{{ menu.left.name }}</nuxt-link>
          <nuxt-link :to="menu.right.link">{{ menu.right.name }}</nuxt-link>
        </div>
        <div class="nav__mobile_modal_cl">
          <div class="nav__mobile_modal_cl_l">
            <a @click.prevent="toCatlog">
              Каталог
            </a>
          </div>
          <template v-if="menu.left.children">
            <div class="nav__mobile_modal_cl_l" v-for="(item, index) in menu.left.children"
                 :key="index"
            >
              <nuxt-link :to="item.link">
                {{ item.name }}
              </nuxt-link>
            </div>
          </template>
          <template v-if="menu.right.children">
            <div class="nav__mobile_modal_cl_l" v-for="(item, index) in menu.right.children"
                 :key="index"
            >
              <nuxt-link :to="item.link">
                {{ item.name }}
              </nuxt-link>
            </div>
          </template>
        </div>
        <div class="nav__mobile_modal_info">
          <div class="nav__mobile_modal__phone">
            <a href="tel:+74957758233">+7 495 775 82 33</a>
          </div>
          <div class="nav__mobile_modal__schedule">с 9:00 до 21:00 без выходных</div>
        </div>
        <div class="nav__mobile_modal__buttons">
          <div class="nav__mobile_modal__program">
            <nuxt-link to="/catalog">
              <div>
                Обратный звонок
              </div>
              <div class="button-arrow-svg">
                <img class="arrow-svg" src="../assets/images/arrow.svg" alt="arrow">
              </div>
            </nuxt-link>
          </div>
          <div class="nav__mobile_modal__consultation">
            <nuxt-link to="/consult">
              <div>
                Консультация диетолога
              </div>
              <div class="button-arrow-svg">
                <img class="arrow-svg" src="../assets/images/arrow.svg" alt="arrow">
              </div>
            </nuxt-link>
          </div>
        </div>
      </div>
    </nav>
  </header>
</template>

<script>
import NavMenu from '~/components/menu/NavMenu'

export default {
  name: "PageHeader",
  components: {NavMenu},
  data() {
    return {
      isModalOpen: false,
      menu: {
        right: {
          name: 'Для партнеров',
          link: '/partner'
        },
        left: {
          name: 'О нас',
          link: '/about',
          children: [
            {
              name: 'Контакты',
                link: '/contacts'
            },
            {
              name: 'Отзывы',
                link: '/reviews'
            },
            {
              name: 'Журнал',
                link: '/zh'
            },

            {
              name: 'Блог',
                link: '/b'
            },
            {
              name: 'Подарочный сертификат',
              link: '/p'
            }
          ]
        }
      }
    }
  },
  computed: {
    catalogCategories () {
      return this.$store.getters['catalog/getFirstCategory']
    }
  },
  methods: {
    toCatlog () {
      let code = ''
      if (this.catalogCategories.children.length > 0) {
        code = this.catalogCategories.children[0].code
      } else {
        code = this.catalogCategories.code
      }
      if (this.isModalOpen) {
        this.isModalOpen = false
      }
      this.$store.dispatch('filter/deleteListAction')
      this.$router.push(`/${code}`)
    }
  }
}
</script>

<style scoped>

</style>
