<template>
    <div class="instagram">
      <div class="instagram_pc">
        <div class="instagram_pc_name">
          <img src="../assets/images/instagram.svg">
        </div>
        <div class="instagram_pc_images">
          <div v-swiper:mySwiper="swiperOption" class="my-swiper">
            <div class="swiper-wrapper">
              <div class="swiper-slide" v-for="(slide, index) in slides" :key="index">
                <img :src="slide">
              </div>
            </div>
            <div class="swiper-pagination" slot="pagination"></div>
          </div>
        </div>
      </div>
    </div>
</template>

<script>
export default {
  name: "PageInstagram",
  data () {
    return {
      slides: [
        '/img/insta.png',
        '/img/insta.png',
        '/img/insta.png',
        '/img/insta.png',
        '/img/insta.png',
        '/img/insta.png',
      ],
      swiperOption: {
        loop: false,
        centeredSlides: false,
        slidesPerView: 'auto',
        translate: true,
        spaceBetween: 50,
        pagination: {
          el: '.swiper-pagination',
          clickable: true,
          dynamicBullets: true
        }
      }
    }
  }
}
</script>

<style lang="scss" scoped>
  .swiper-container {
    height: 100%;
    width: 95.5%;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    list-style: none;
    padding: 0 0 0 4.5%;
    z-index: 1;
  }
  .swiper-wrapper {
    position: relative;
    width: 90%;
    height: 100%;
    z-index: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    transition-property: -webkit-transform;
    transition-property: transform;
    transition-property: transform,-webkit-transform;
    box-sizing: content-box;
  }
  .swiper-slide {
    flex-shrink: 0;
    width: 33.333%!important;
    height: 80%;
    position: relative;
    transition-property: -webkit-transform;
    transition-property: transform;
    transition-property: transform,-webkit-transform;

    img {
      width: 90%;
      padding-top: 8%;
      height: 100%;
    }
  }
  @media screen and (max-width: 700px) {
    .swiper-slide {
      width: 100%!important;
      padding-left: 0!important;
      padding-top: 5%!important;
    }
    .swiper-wrapper {
      left: 7%;
    }
  }
  @media screen and (min-width: 700px) {
    .swiper-pagination {
      display: none;
    }
  }
  .swiper-pagination {
    bottom: 0!important;
    left: 50%!important;
    width: 78.5%!important;
    .swiper-pagination-bullet {
      width: 20%!important;
      margin-right: 1.4rem!important;
      height: 0.6rem!important;
      border-radius: 0!important;
    }
    .swiper-pagination-bullet-active {
      background: #52ac49!important;
    }
  }
</style>
