<template>
    <div class="main-read">
      <div class="main-read_pc">
        <div class="main-read_pc_hello">HELLO!</div>
        <div class="main-read_pc_button">
          <nuxt-link to="">ЧИТАТЬ
            <img class="main-read_pc_button_image" src="../assets/images/arrow.svg">
          </nuxt-link>
        </div>
        <div v-swiper:mySwiper="swiperOption" class="my-swiper">
          <div class="swiper-wrapper">
            <div class="swiper-slide" v-for="(slide, index) in slides" :key="index">
              {{ slide }}
            </div>
          </div>
          <div class="swiper-pagination" slot="pagination"></div>
        </div>
      </div>
    </div>
</template>

<script>
export default {
  name: "PageReading",
  data () {
    return {
      slides: [
        'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur, vel.',
        'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur, vel.',
        'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur, vel.',
        'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur, vel.'
      ],
      swiperOption: {
        loop: false,
        slidesPerView: 'auto',
        centeredSlides: false,
        translate: true,
        spaceBetween: 50,
        pagination: {
          el: '.swiper-pagination',
          clickable: true,
          dynamicBullets: true
        }
      }
    }
  }
}
</script>

<style lang="scss" scoped>
  .my-swiper {
    padding: 0!important;
    bottom: 20%;
  }
  .swiper-container {
    height: 100%;
    width: 95.5%;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    list-style: none;
    padding: 0 0 0 4.5%;
    z-index: 1;
  }
  .swiper-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    box-sizing: content-box;
  }
  .swiper-slide {
    flex-shrink: 0;
    width: 80.1%;
    padding: 10rem 0 0 7rem;
    height: 30rem;
    color: #7f828b;
    font-size: 2.5rem;
    top: 7rem;
    position: relative;
  }
  .swiper-pagination {
    width: 8.5rem!important;
    height: 2rem!important;
    position: relative!important;
    bottom: 12rem!important;
    left: 58rem!important;
    .swiper-pagination-clickable {
      width: 1rem!important;
      height: 1rem!important;
      border-radius: 100%!important;
    }
  }
  @media screen and (max-width: 700px) {
    .swiper-pagination {
      bottom: 20rem!important;
      width: 95%!important;
      left: 58%!important;
    }
  }
</style>
