<template>
    <div class="reviews-certificate">
      <reviews :smallblockreviews="smallblockreviews"></reviews>
      <main-certificate></main-certificate>
    </div>
</template>

<script>
import Reviews from "./Reviews";
import MainCertificate from "./MainCertificate";
export default {
  name: "ReviewsAndCertificateBlock",
  components: {MainCertificate, Reviews},
  props: ['smallblockreviews']
}
</script>

<style lang="scss" scoped>
  .reviews-certificate {
    display: flex;
    width: 100%;
    @media (max-width: 700px) {
      display: block;
    }
  }
</style>
