<template>
    <div class="reviews">
      <div class="reviews__hello font__proxima-extrabold">HELLO!</div>
      <div class="reviews__button font__proxima-extrabold">
        <nuxt-link to="">ЧИТАТЬ
          <img class="reviews__button__image" src="../assets/images/arrow.svg">
        </nuxt-link>
      </div>
      <div v-swiper:mySwiper="swiperOption" class="my-swiper reviews__swiper">
        <div class="swiper-wrapper reviews__wrapper">
          <div class="swiper-slide reviews__slide font__proxima-normal" v-for="(smallblockreview, index) in smallblockreviews" :key="index">
            {{ smallblockreview }}
          </div>
        </div>
        <div class="swiper-pagination reviews-pagination" slot="pagination"></div>
      </div>
    </div>
</template>

<script>
export default {
  name: "Reviews",
  props: ['smallblockreviews'],
  data () {
    return {
      swiperOption: {
        slidesPerView: 'auto',
        centeredSlides: false,
        pagination: {
          el: '.swiper-pagination',
          clickable: true,
          dynamicBullets: true
        }
      }
    }
  }
}
</script>

<style lang="scss">
  @import "../assets/css/components/reviews.scss";
  .reviews {
    &__swiper {
      position: relative;
      bottom: 18%;
      height: 100%;
      width: 100%;
    }
    &__wrapper {
      width: 100%;
      height: 100%;
    }
    &__slide {
      width: 80.1%;
      margin: 10rem 7rem 0 7rem;
      height: 40%;
      color: #4F545D;
      font-size: 2.5rem;
      top: 7rem;
    }
  }
  .reviews {
    .reviews__swiper {
      .reviews-pagination {
        display: flex;
        width: 8.3rem!important;
        height: 2rem;
        bottom: 13.3rem;
        left: 70rem;
        position: relative;
        .swiper-pagination-bullet {
          width: 1rem;
          height: 1rem;
          margin: 0 1rem 0 0;
          background-color: #7f828b;
        }
        .swiper-pagination-active {
          background: white;
          width: 1.1rem;
          height: 1.1rem;
        }
        .swiper-pagination-bullet-active-next,
        .swiper-pagination-bullet-active-next-next,
        .swiper-pagination-bullet-active-prev-prev,
        .swiper-pagination-bullet-active-prev {
          transform: none;
        }
        @media (max-width: 700px) {
          bottom: 38%;
          left: 54%;
          width: 90%!important;
          .swiper-pagination-bullet {
            width: 20%;
            margin-right: 1.8rem;
            height: 0.6rem;
            border-radius: 0;
          }
          .swiper-pagination-bullet-active {
            background: #52ac49;
          }
          .swiper-pagination-bullet-active-next-next {
            display: none;
          }
        }
      }
    }
  }
</style>
