<template>
    <div class="static colors__background-green">
      <div class="font__proxima-bold">SEARCH<br> ENGINE OPTIMIZATION</div>
      <div class="font__proxima-normal">Suspendisse eget elit vitae velit dignissim lobortis.<br>
        Cras dignissim nunc vitae laoreet cursus. Aliquam bibendum<br>
        velit non ante pulvinar suscipit pharetra posuere.<br>
        Ut a lacus quis sem.</div>
    </div>
</template>

<script>
export default {
  name: "StaticBlock"
}
</script>

<style lang="scss" scoped>
  .static {
    display: flex;
    width: 100%;
    color: #ffffff;
    height: 27.9rem;
    text-align: left;
    :nth-child(1) {
      padding: 7% 0 0 4.5%;
      width: 50%;
      font-size: 3.8rem;
      line-height: 3.2rem;
    }
    :nth-child(2) {
      padding: 6% 0 0 15%;
      width: 50%;
      font-size: 1.8rem;
      line-height: 2.5rem;
    }
  }
  @media (max-width: 700px) {
    .static {
      display: none;
    }
  }
</style>
