.nav-menu {
  font-family: ProximaNova-Semibold;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  font-size: 1.5rem;
}
.nav-menu__header {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
  cursor: pointer;
  user-select: none;
}
.nav-menu__selected {
  box-shadow: 0 .2vw 0 $mid-green;
  text-overflow: unset;
  color: $white!important;
  a {
    color: $white!important;
  }
}
.nav-menu__right, .nav-menu__left {
  color: $f-grey;
  a {
    color: $f-grey;
  }
}
.nav-menu__list {
  top: 4.8vw;
  position: absolute;
  background-color: $b-grey;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  justify-content: center;
  padding-bottom: .5vw;
}
.nav-menu__list_item {
  padding-top: .9vw;
  padding-bottom: .9vw;
  box-shadow: 0 -.15vw 0 $bb-grey;
  a {
    color: $f-grey;
  }
}
.nav-menu__wrapper {
  width: 75%;
}
