.vertical-menu {
  // editable
}
.vertical-menu__title {
  display: inline-block;
  font-family: $bold;
  font-size: 1.5rem;
  text-transform: uppercase;
  color: $d-grey;
  box-shadow: 0 .2vw 0 $mid-green;
  margin-bottom: 2vw;
  img {
    margin-left: auto;
    width: 2rem;
    filter: invert(85%);
  }
}
.vertical-menu__item {
  margin-bottom: 6%;
  a {
    font-size: 1.4rem;
    font-family: $normal;
    color: rgb(183,183,183);
    box-shadow: 0 .05rem 0 rgb(183,183,183);
  }
}
