//Backgrounds + fonts
$b-grey: #28292d;
$bb-grey: #2e3034;
$tbb-grey: #e6e6e6;
$d-grey: #191a1e;
$f-grey: #818183;
$ff-grey: #c8c8c9;
$d-white: #f5f5f5;
$white: #ffffff;
$mid-green: #52ac49;
$light-grey: #dfe0e0;

//MOBILE COLORS
$mobile-grey: #848588;

//ICONS
$facebook: #0665ef;
$vk: #6087cc;

.colors {
  &__background {
    &-green {
      background-color: $mid-green;
    }
    &-light-grey {
      background-color: $light-grey;
    }
    &-white {
      background-color: $white;
    }
  }
  &__font {
    &-f-grey {
      color: $f-grey;
    }
    &-green {
      color: $mid-green;
    }
  }
}
