$normal: ProximaNova-Semibold;
$bold: ProximaNova-Bold;
$extrabold: ProximaNova-Extrabold;

.font {
  font-size: 1.6rem;
  &-h1 {
    font-size: 3.5rem;
  }
  &-h2 {
    font-size: 3rem;
  }
  &-upper {
    text-transform: uppercase;
  }
  &__proxima {
    &-normal {
      font-family: $normal;
    }
    &-bold {
      font-family: $bold;
    }
    &-extrabold {
      font-family: $extrabold;
    }
  }
}
