<template>
    <div class="scroll__background">
      <div class="scroll__block"></div>
    </div>
</template>

<script>
  export default {
    name: "CustomScroll",
    data () {
      return {
        positionLeft: 0,
      }
    },
    methods: {
    }
  }
</script>

<style scoped lang="scss">
  .scroll__background {
    display: flex;
    background-color: #f1f1f1;
    height: 1.5rem;
    width: 100%;
    margin-bottom: 3rem;
  }
  .scroll__block {
    cursor: pointer;
    width: 10%;
    height: 100%;
    background-color: #52ac49;
  }
</style>
