// This is the single file output by sass. It is intended to ONLY @import other files.

//CUSTOM FONTS
@import 'fonts/fonts.scss';

//CUSTOM COLORS
@import 'vars/fonts.scss';
@import 'vars/colors.scss';

//GRID
@import 'common/grid.scss';

//BUTTONS
@import 'common/buttons.scss';

//HEADERS
@import 'common/headers.scss';

//COMPONENTS
@import 'components/page-header.scss';
@import 'components/page-footer.scss';

//COMPONENTS => MENU
@import 'components/menu/nav-menu.scss';
@import 'components/menu/vertical-menu.scss';

//MEDIA
@import 'media-queries/media.scss';

@import 'components/map/placement-map';

* {
  padding: 0;
  margin: 0;
}

html {
  background-color: $tbb-grey;
}

a {
  outline: none;
  text-decoration: none;
  color: $white;
}

.subtitle {
  font-weight: 300;
  font-size: 42px;
  color: #526488;
  word-spacing: 5px;
  padding-bottom: 15px;
}

.links {
  padding-top: 15px;
}

.swiper-scrollbar-drag {
  border-radius: 0!important;
  background-color: $mid-green!important;
}
