.main-reviews {
  z-index: 4;
  width: 100%;
  height: 89.5rem;

  &__background{
    display: block;
    right: 6rem;
    bottom: 100%;
    width: 100%;
    height: 89.5rem;
    z-index: 1;
    background-image: url("/reviews/Reviews.png");
    background-position: center;
    background-size: 100%;
  }
  &__footer {
    display: flex;
    height: 22.5%;
    position: relative;
    z-index: 4;
    bottom: 89.5rem;
    &__button {
      background-color: rgba(0,0,0,0);
      border: .4rem solid #52ac49;
      height: 3.85rem;
      width: 23rem;
      position: relative;
      top: 6rem;
      z-index: 4;
      left: 3.4%;

      img {
        width: 3rem;
        position: relative;
        left: 3rem;
        filter: invert(100%);
      }
      a {
        color: #000;
        font-size: 1.7rem;
        position: relative;
        left: 3.5rem;
        top: 1rem;
      }
    }
    &__social {
      z-index: 4;
      position: relative;
      left: 75%;
      top: 7rem;
      img {
        height: 2.85rem;
      }
    }
  }
  &__header {
    position: relative;
    bottom: 100%;
    font-size: 4.8rem;
    width: 100%;
    height: 16%;
    z-index: 4!important;
    p {
      padding-top: 8rem;
      padding-left: 4.5%;
    }
  }
  &__name {
    font-size: 2rem;
    position: relative;
    bottom: 15%;
    left: 5%;
    width: 30%;
    z-index: 4;
    display: inline-block;

    div {
      padding-left: 38rem;
    }
    :nth-child(1) {
      padding-top: 28rem;
    }
    :nth-child(2) {
      color: #c8c8c9;
      font-size: 1.7rem;
    }
  }
  &__text {
    font-size: 5rem;
    width: 55%;
    z-index: 4;
    display: inline-block;

    p {
      padding-top: 17rem;
      padding-left: 6.5%;
    }
  }
  @media (max-width: 700px) {
    height: 82rem;

    &__footer {
      position: relative;
      bottom: 100%;
      &__button {
        background-color: #191A1E;
        height: 6.5rem;
        width: 44.7rem;
        top: 4.5rem;
        left: 5%;
        border: 0;
        display: inline-block;
        position: relative;
        img {
          width: 4.5rem;
          position: relative;
          left: 21rem;
          top: 0.6rem;
          filter: none;
        }
        a {
          color: #ffffff;
          font-size: 2rem;
          position: relative;
          left: 3.5rem;
          top: 1.6rem;
        }
      }
      &__social {
        display: none;
      }
    }

    &__background {
      background-size: 300%;
      height: 100%;
    }

    &__header {
      width: 100%;
      font-size: 3rem;
      p {
        padding-top: 4rem;
        padding-left: 4rem;
      }
    }

    &__text{
      text-align: left;
      font-size: 2.4rem;
      width: 100%;
      height: 50%;
      p {
        padding: 5.5rem 18rem 0 4rem;
      }
    }

    &__name {
      font-size: 2rem;
      top: 5%;
      height: 40%;
      right: 54%;
      width: 100%;
      div {
        padding-left: 1.5rem;
      }
      div:nth-child(1) {
        padding-top: 0;
      }
    }
  }
}


