.instagram {
  background-color: #EAEAEA;
  width: 100%;
  height: 89.85rem;

  &__images {
    height: 82%;
    width: 100%;
  }

  &__name {
    padding-left: 4.5%;
    padding-right: 4.5%;
    height: 18%;

    img {
      height: 6.6rem;
      padding-top: 9rem;
    }
  }
  &__swiper {
    height: 100%;
    width: 95.5%;
  }
  &__slide {
    flex-shrink: 0;
    width: 31%;
    height: 80%;
    margin: 0 2% 0 2%;
    position: relative;

    img {
      width: 90%;
      padding-top: 8%;
      height: 100%;
    }
  }
  @media (min-width: 700px) {
    &__pagination {
      display: none;
    }
  }
}
@media (max-width: 700px) {
  .instagram {
    height: 97rem;
    position: relative;
    top: 4rem;
    &__name {
      height: 11%;

      img {
        padding-top: 5rem;
        padding-left: 2rem;
        height: 4.2rem;
      }
    }
    &__images {
      height: 89%;
    }
    &__slide {
      width: 100%;
      margin: 0;
      img {
        width: 100%;
        padding-top: 4%;
        height: 100%;
      }
    }
    &__pagination {
      .swiper-pagination-bullet-active {
        background: #52ac49;
      }
    }
  }
  .instagram {
    .instagram__swiper {
      .instagram__pagination {
        bottom: 5%;
        left: 50%;
        width: 90%!important;
        .swiper-pagination-bullet{
          width: 20%;
          margin-right: 1.8rem;
          height: 0.6rem;
          border-radius: 0;
        }
      }
      .swiper-pagination-bullet-active-next,
      .swiper-pagination-bullet-active-next-next,
      .swiper-pagination-bullet-active-prev-prev,
      .swiper-pagination-bullet-active-prev {
        transform: none;
      }
    }
  }
}
