.main-certificate {
  width: 50%;
}
.main-certificate_pc {
  height: 43.15rem;
  background-color: $ff-grey;
  width: 100%;
  background-image: url(/certificate/Certificare.png);
  background-size: 100%;
  background-position: center;
}
.main-certificate_pc_button {
  @extend %button;
  background-color: rgba(0,0,0,0);
  border: .4rem solid $mid-green;
  height: 3.85rem;
  width: 23rem;
  z-index: 2;
  position: relative;
  display: block;
  left: 5.8rem;
  top: 29rem;

  img {
    width: 3rem;
    position: relative;
    left: 3rem;
    filter: invert(100%);
  }

  a {
    color: #000;
    font-size: 1.7rem;
    font-family: $bold;
    position: relative;
    left: 3.5rem;
    top: 1rem;
  }
}
.main-certificate_pc_image {
  width: 100%;
  z-index: 1;
  height: 43.15rem;
  position: relative;
  display: block;
  bottom: 4.7rem;

  img {
    width: 100%;
    height: 100%;
    position: relative;
    top: 0.1rem;
  }
}

@media (max-width: 700px) {
  .main-certificate {
    width: 100%;
    height: 54rem;
    .main-certificate_pc {
      transform: rotate(270deg);
      background-size: 172%;
      background-position-x: 90%;
      height: 50rem;
      width: 54rem;
      position: relative;
      right: 2rem;
      top: 2rem;
    }
  }
  .main-certificate_pc_button {
    background-color: #191A1E;
    font-family: $bold;
    height: 6.5rem;
    width: 44.7rem;
    top: 44%;
    left: -21.4%;
    border: 0;
    display: inline-block;
    position: relative;
    transform: rotate(90deg);
    img {
      width: 4.5rem;
      position: relative;
      left: 21rem;
      top: 0.5rem;
      filter: none;
    }
    a {
      color: $white;
      font-size: 2rem;
      font-family: $extrabold;
      position: relative;
      left: 3.5rem;
      top: 1.8rem;
    }
  }
}
