.static {
  @extend %d-flex;
  background-color: $mid-green;
  width: 100%;
  color: $white;
  height: 27.9rem;
  text-align: left;
  .static_one {
    padding: 7% 0 0 4.5%;
    width: 50%;
    font-size: 3.8rem;
    font-family: $bold;
    line-height: 3.2rem;
  }
  .static_two {
    padding: 6% 0 0 15%;
    width: 50%;
    font-size: 1.8rem;
    font-family: $normal;
    line-height: 2.5rem;
  }
}
