.nav {
  @extend %d-flex;
  @extend %align-items-center;
  background-color: $b-grey;
}

.nav__logo {
  width: 13%;
  background-color: $bb-grey;
  padding: 2.7% 3%;
  img {
    width: 100%;
  }
}

.nav__buttons {
  @extend %d-flex;
  width: 40%;
}

.nav__program {
  @extend %green-button-filled;
  width: 40%;
  margin-right: 5%;
  padding: 1.5vw 3vw;
  font-size: 1.4rem;
  line-height: 1.3rem;
  a {
    @extend %d-flex;
    @extend %align-items-center
  }
}

.nav__consultation {
  @extend %green-button;
  @extend %d-flex;
  @extend %justify-content-center;
  @extend %align-items-center;
  width: 50%;
  font-size: 1.4rem;
  line-height: 1.3rem;
}

.nav__info {
  @extend %d-flex;
  @extend %align-items-center;
  @extend %justify-content-end;
  @extend %f-column;
  margin-right: 3%;
  width: 20%;
}

.nav__phone {
  margin-left: auto;
  font-family: $bold;
  color: $white;
  font-size: 1.4rem;
}

.nav__schedule {
  margin-left: auto;
  font-family: $normal;
  color: $f-grey;
  font-size: 1.2rem;
}

.nav__drop {
  width: 25%;
}

.desktop-nav {
  @extend %d-flex;
  @extend %align-items-center;
  justify-content: space-between;
  width: 83%;
}
.mobile-nav {
  display: none;
}

.nav__mobile_modal {
  @extend %d-flex, %f-column;
  padding: 3vh 7vw 6vh 7vw;
  color: $white;
  width: 86vw;
  background-color: $bb-grey;
  position: absolute;
  z-index: 99999;
}

.nav__exit-tutton {
  width: 2.5rem;
  margin-left: auto;
  img {
    filter: invert(80%);
    width: 100%;
  }
}

.nav__mobile_modal_ml {
  @extend %d-flex, %f-column;
  @extend %justify-content-end;
  margin-top: 4rem;
  margin-bottom: 3rem;
  font-family: $bold;
  font-size: 3.7rem;
  a {
    margin-left: auto;
    color: $ff-grey;
  }
  a:nth-child(n) {
    margin-bottom: 3rem;
  }
  a:last-child {
    margin-bottom: 0;
  }
}

.nav__mobile_modal_cl {
  @extend %d-flex, %f-column;
  .nav__mobile_modal_cl_l {
    display: inline-block;
    margin-left: auto;
    font-size: 2.4rem;
    a {
      font-family: $normal;
      display: inline-block;
      margin-left: auto;
      color: $mobile-grey;
      margin-bottom: 3rem;
    }
  }
}

.nav__mobile_modal_info {
  @extend %d-flex, %f-column;
  margin-top: 6rem;
  .nav__mobile_modal__phone, .nav__mobile_modal__schedule {
    margin-left: auto;
  }

  .nav__mobile_modal__phone {
    a {
      font-family: $bold;
      color: $mid-green;
      text-decoration: underline;
      font-size: 2.7rem;
    }
  }
  .nav__mobile_modal__schedule {
    margin-top: 2rem;
    color: $mobile-grey;
    font-size: 2rem;
    font-family: $normal;
  }
}

.nav__mobile_modal__buttons {
  @extend %d-flex, %f-column;
  margin-top: 3rem;
  .nav__mobile_modal__program {
    @extend %green-button-filled;
    margin-bottom: 3rem;
    a {
      @extend %d-flex, %align-items-center,
      %justify-content-center;
      padding: 2rem 3rem;
      font-size: 2rem;
    }
  }
  .nav__mobile_modal__consultation {
    @extend %green-button;
    a {
      @extend %d-flex, %align-items-center,
      %justify-content-center;
      padding: 2rem 3rem;
      font-size: 2rem;
    }
  }
}


