.footer {
  @extend %d-flex, %container-inner;
  justify-content: space-between;
  background-color: rgb(251,251,251);
  padding-top: 4%;
  padding-bottom: 4%;
}
.footer__payments {
  width: 15%;
  margin-right: auto;
}
.footer__applications {
  width: 15%;
  margin-left: auto;
}
.footer__nav {
  @extend %d-flex;
  justify-content: space-between;
  width: 44%;
}
.footer__ref-info {
  @extend %d-flex;
  @extend %f-column;
  a {
    font-size: 1.4rem;
    font-family: $normal;
    color: rgb(183,183,183);
    span {
      font-family: $bold;
      color: rgb(142,142,142);
    }
  }
}
.footer__logo {
  img {
    width: 70%;
  }
}
.footer__payments_images {
  @extend %d-flex;
  @extend %f-column;
  @extend %align-items-start;
  margin-top: 2vw;
  img {
    margin-bottom: 1.5rem;
  }
}
.footer__applications_wrapper {
  @extend %d-flex, %f-column;
  height: 100%;
}
.footer__applications_images {
  @extend %d-flex;
}
.footer__applications_image:nth-child(1) {
  margin-right: 10%;
}
.footer__applications_image {
  width: 45%;
  img {
    width: 100%;
  }
}
.footer__bottom {
  margin-top: auto;
}
.footer__juridical-information {
  @extend %d-flex, %f-column;
  color: rgb(217,217,217);
  font-family: $normal;
  font-size: 1.2rem;
  div {
    display: inline-block;
    margin-left: auto;
  }
}

.footer__privacy-policy {
  @extend %d-flex;
  margin-top: 1vw;
  a {
    display: inline-block;
    margin-left: auto;
    font-size: 1.2rem;
    font-family: $normal;
    color: rgb(142,142,142);
    box-shadow: 0 .05rem 0 rgb(142,142,142);
  }
}

.footer__payments_images_mobile {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 1.2rem 0;
  img {
    margin: 0 1.5rem;
  }
}

.footer-menu__drop-down {
  .footer__drop-arrow {
    margin-left: auto;
    width: 2rem;
    filter: invert(85%);
  }
}

.visa__logo {
  width: 4rem;
}
.mastercard__logo {
  width: 8rem;
}
.paypal__logo {
  width: 6.5rem;
}
.pay__logo {
  width: 4rem;
}
.android__logo {
  width: 1.5rem;
}

.social__icons {
  @extend %d-flex, %align-items-center, %justify-content-center;
  margin: 3rem 0;
}
.facebook__mobile {
  background-color: $facebook;
}
.vk__mobile {
  background-color: $vk;
}
.facebook__mobile, .vk__mobile {
  width: 50%;
  height: 6rem;
  @extend %d-flex, %justify-content-center, %align-items-center;
  img {
    height: 3rem;
    filter: invert(0%);
  }
}

