.main-reviews_pc {
  z-index: 4;
  width: 100%;
  height: 89.5rem;

  .main-reviews_pc_background{
    display: block;
    right: 6rem;
    bottom: 100%;
    width: 100%;
    height: 89.5rem;
    z-index: 1;
    background-image: url("/reviews/Reviews.png");
    background-position: center;
    background-size: 100%;
  }
  .main-reviews_pc_footer {
    display: flex;
    height: 22.5%;
    z-index: 4;
  }
  .main-reviews_pc_content {
    display: flex;
    height: 61.5%;
    z-index: 4;
  }
  .main-reviews_pc_footer_button {
    @extend %button;
    background-color: rgba(0,0,0,0);
    border: .4rem solid $mid-green;
    font-family: $bold;
    height: 3.85rem;
    width: 23rem;
    position: relative;
    bottom: 81.5rem;
    z-index: 4;
    left: 3.4%;

    img {
      width: 3rem;
      position: relative;
      left: 3rem;
      filter: invert(100%);
    }
    a {
      color: #000;
      font-size: 1.7rem;
      font-family: $bold;
      position: relative;
      left: 3.5rem;
      top: 1rem;
    }
  }
  .main-reviews_pc_name {
    position: relative;
    bottom: 100%;
    font-size: 4.8rem;
    font-family: $bold;
    width: 100%;
    height: 16%;
    z-index: 4!important;
    p {
      padding-top: 8rem;
      padding-left: 4.5%;
    }
  }
  .main-reviews_pc_content_firstname {
    position: relative;
    bottom: 163%;
    font-size: 2rem;
    font-family: $bold;
    width: 60%;
    z-index: 4;

    div {
      padding-left: 38rem;
    }
    div:nth-child(1) {
      padding-top: 28rem;
    }
    .main-reviews_pc_content_firstname_job {
      color: $ff-grey;
      font-size: 1.7rem;
    }
  }
  .main-reviews_pc_content_text {
    font-size: 5rem;
    font-family: $bold;
    position: relative;
    bottom: 163%;
    width: 70%;
    z-index: 4;

    p {
      padding-top: 22.5rem;
      padding-left: 6.5%;
    }
  }
  .main-reviews_pc_footer_vk-facebook {
    z-index: 4;
    position: relative;
    left: 75%;
    bottom: 80.5rem;
    img {
      height: 2.85rem;
    }
  }
}

