.main-read {
  width: 50%;
}
.swiper-slide {
  font-family: $normal;
}
.main-read_pc{
  height: 43.15rem;
  background-color: #0F1621;
  width: 100%;
}
.main-read_pc_button {
  @extend %button;
  background-color: rgba(0,0,0,0);
  border: .4rem solid $mid-green;
  font-family: $bold;
  height: 3.85rem;
  width: 19rem;
  display: block;
  position: relative;
  top: 25rem;
  left: 5.8rem;
  a {
    color: $white;
    font-size: 1.7rem;
    font-family: $bold;
    position: relative;
    left: 3.5rem;
    top: 1rem;
  }
}
.main-read_pc_hello {
  text-align: center;
  position: relative;
  display: inline-block;
  font-family: $extrabold;
  font-size: 3.3rem;
  top: 8.4rem;
  left: 8.7rem;
  height: 4rem;
  width: 11.4rem;
  color: $white;
  background-color: #E10029;
}
.main-read_pc_reviews {
  display: inline-block;
  position: relative;
  height: 7.34rem;
  width: 64rem;
  left: 8.5rem;
  top: 8.4rem;
  color: #7f828b;
  font-size: 2.5rem;
}
.main-read_pc_button_image {
  width: 3rem;
  position: relative;
  left: 3rem;
}
@media (max-width: 700px) {
  .swiper-pagination {
    left: 50%!important;
    width: 78.5%!important;
    .swiper-pagination-bullet {
      width: 20%!important;
      margin-right: 1.4rem!important;
      height: 0.6rem!important;
      border-radius: 0!important;
    }
  }
  .main-read_pc_hello {
    font-size: 2.9rem;
    width: 10.45rem;
    top: 5.3rem;
    left: 2.7rem;
    height: 3.25rem;
  }
  .swiper-slide {
    font-family: $normal;
    font-size: 2.2rem!important;
    padding: 10rem 0 0 5rem!important;
  }
  .main-read_pc_button {
    background-color: $mid-green;
    height: 5.7rem;
    width: 44.5rem;
    position: relative;
    display: inline-block;
    left: 2.6rem;
    top: 36.6rem;
    img {
      width: 4.5rem;
      position: relative;
      left: 24.5rem;
      top: 0.2rem;
    }
    a {
      color: $white;
      font-size: 2.4rem;
      font-family: $extrabold;
      position: relative;
      left: 3.5rem;
      top: 1.5rem;
    }
  }
}
.swiper-pagination-bullet-active {
  background: white!important;
}
.swiper-pagination-bullet-active-prev {
  background: grey!important;
}
.swiper-pagination-bullet-active-prev-prev,
.swiper-pagination-bullet-active-prev {
  transform: none!important;
}
.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-next {
  transform: none!important;
  background: grey;
}

