.instagram_pc {
  background-color: #EAEAEA;
  width: 100%;
  height: 89.85rem;

  .instagram_pc_images {
    height: 86%;
    width: 100%;
  }

  .instagram_pc_name {
    @extend %container-inner;
    height: 18%;

    img {
      height: 6.6rem;
      padding-top: 9rem;
    }
  }
}
