.reviews {
  width: 50%;
  height: 43.15rem;
  background-color: #0F1621;

  &__button {
    background-color: rgba(0,0,0,0);
    border: .4rem solid #52ac49;
    height: 3.85rem;
    width: 19rem;
    display: block;
    position: relative;
    top: 25rem;
    left: 5.8rem;

    &__image {
      width: 3rem;
      position: relative;
      left: 3rem;
    }

    a {
      color: #ffffff;
      font-size: 1.7rem;
      position: relative;
      left: 3.5rem;
      top: 1rem;
    }
  }

  &__hello {
    text-align: center;
    position: relative;
    display: inline-block;
    font-size: 3.3rem;
    top: 8.4rem;
    left: 8.7rem;
    height: 4rem;
    width: 11.4rem;
    color: #ffffff;
    background-color: #E10029;
  }
}


@media (max-width: 700px) {
  .reviews {
    width: 100%;
    height: 54rem;

    &__hello {
      font-size: 2.9rem;
      width: 10.45rem;
      top: 5.3rem;
      left: 2.7rem;
      height: 3.25rem;
    }

    &__button {
      background-color: #52ac49;
      height: 5.7rem;
      width: 44.5rem;
      position: relative;
      display: inline-block;
      left: 2.6rem;
      top: 36.6rem;

      img {
        width: 4.5rem;
        position: relative;
        left: 24.5rem;
        top: 0.2rem;
      }
      a {
        color: #ffffff;
        font-size: 2.4rem;
        position: relative;
        left: 3.5rem;
        top: 1.5rem;
      }
    }
  }
}

