<template>
	<div>
    <div>IMG</div>
    <div>DESCR</div>
    <div>HUMAN</div>
    <div>SOSIAL</div>
  </div>
</template>

<script>
export default {
  name: "RewiewCard",
  props: {
    item: {
      type: Object,
      requaired: true
    }
  }
}
</script>

<style scoped>

</style>
