.base{
  width: 100%;
  height: 70rem;
  background-color: $d-grey;
}
.base_text{
  position: relative;
  bottom: 70rem;
  color: $white;
  background-color: transparent;
  text-transform: uppercase;
  text-align: left;
  font-size: 3.5rem;
  font-weight: bolder;
  font-family: $extrabold;
  position: relative;
  left: 5rem;
  width: 30rem;
  bottom: 65rem;
  span{color: $mid-green;
  }}
.base_address{
  position: relative;
  left: 5%;
  bottom: 40rem;
  width: 10rem;
}
.base_address-info{
  color: $white;
  font-size: 1rem;
  font-family: $normal;
  padding-bottom: 1%;
}
.base_balloon-pc{
  display: grid;
  position: relative;
  bottom: 60rem;
  left:130rem;
  width: 15rem;
}
