<template>
  <div class="info">
    <div class="info__caption">
      <p class="info__caption_accented">Компания</p>
      здорового питания
    </div>
    <div class="info__data-items">
      <div class="info__data-item">
        <p class="info__capt-data">
          Режим работы:
        </p>
        <p class="info__text-data">
          C 09:00 до 21:00
        </p>
      </div>
      <div class="info__data-item">
        <p class="info__capt-data">
          Электронная почта:
        </p>
        <a href="" class="info__text-data info__text-data_link">
          info@p-food.ru
        </a>
      </div>
      <div class="info__data-item">
        <p class="info__capt-data">
          Адрес:
        </p>
        <p class="info__text-data">
          115114, Москва,<br> Павелецкая набережная, дом 8,<br> строение 6А, этаж 5, офис 503
        </p>
      </div>
      <div class="info__data-item">
        <p class="info__capt-data">
          Отдел закупок:
        </p>
        <a href="" class="info__text-data info__text-data_link">
          offer@p-food.ru
        </a>
      </div>
      <div class="info__data-item">
        <p class="info__capt-data">
          Справочная служба:
        </p>
        <p class="info__text-data">
          +7 (495) 152-17-40,<br> +7 (800) 350-04-59
        </p>
      </div>
      <div class="info__data-item">
        <p class="info__capt-data">
          PR отдел:
        </p>
        <a href="" class="info__text-data info__text-data_link">
          pr@p-food.ru
        </a>
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    name: "ContactsInfo"
  }
</script>

<style scoped lang="scss">
  @import '../../assets/css/components/contacts/contacts-info';
</style>
