<template>
  <div class="feedback">
    <form action="" class="feedback__frm">
      <div class="feedback__caption">
        Есть вопросы?
        <p class="feedback__caption-note">
          Напишите нам, и мы ответим на вопросы в скором времени.
        </p>
      </div>
      <div class="feedback__input-fields">
        <div class="feedback__input-area feedback__input-area_name">
          <input type="text" id="name" name="name" class="feedback__field feedback__field_name" placeholder="Имя:" pattern="^[a-zA-Z ]{3,50}$">
        </div>
        <div class="feedback__input-area feedback__input-area_email">
          <input type="email" id="email" name="email" class="feedback__field feedback__field_email" placeholder="E-mail:" pattern="^\w+@[a-zA-Z_]+?\.[a-zA-Z]{2,6}$">
        </div>
        <div class="feedback__input-area feedback__input-area_message">
          <textarea name="message" id="message" class="feedback__field feedback__field_message" placeholder="Сообщение:"></textarea>
        </div>
      </div>
      <div class="feedback__policy-confirm">
        <input type="checkbox" id="ppolicy" class="feedback__policy-check" v-model="confirmPolicy">
        <label for="ppolicy" class="feedback__policy-lbl">
          <span>
            Нажимая на кнопку отправить вы соглашаетесь<br> на
            <a href="#" class="feedback__policy-link">Политику конфиденциальности</a>
          </span>
        </label>
      </div>
      <button type="submit" class="feedback__btn-send btn" :disabled="confirmPolicy">
        Отправить
        <img src="../../assets/images/arrow.svg" class="feedback__btn-img" alt="more">
      </button>
    </form>
  </div>
</template>

<script>
  export default {
    name: "FeedbackForm",
    data() {
      return {
        confirmPolicy: false
      }
    }
  }
</script>

<style scoped lang="scss">
  @import '../../assets/css/components/contacts/_feedback-form.scss';
</style>
