<template>
  <section style="height: 78rem; width: 100%;">
    <GmapMap
      :center="{lat:55.750100, lng:37.573723}"
      :zoom="15.8"
      map-type-id="roadmap"
      style="width: inherit; height: inherit"
      :options="mapOptions"
    >
      <GmapMarker
        :clickable="true"
        :draggable="false"
        @click="center=position"
        :icon="{url:require('../../assets/images/markerMap.png')}"
        :position="position"
      />
    </GmapMap>
  </section>
</template>

<script>
  export default {
    name: "GoogleMapPlace",
    data() {
      return {
        mapOptions: {
          disableDefaultUI: true,
          disableDoubleClickZoom: true,
          zoomControl: true,
          disableDefaultUi: true,
          styles: [
            {
              "featureType": "all",
              "elementType": "labels",
              "stylers": [
                {
                  "visibility": "on"
                },
                {
                  "saturation": "0"
                }
              ]
            },
            {
              "featureType": "all",
              "elementType": "labels.text.fill",
              "stylers": [
                {
                  "saturation": 36
                },
                {
                  "color": "#000000"
                },
                {
                  "lightness": 40
                },
                {
                  "visibility": "off"
                }
              ]
            },
            {
              "featureType": "all",
              "elementType": "labels.text.stroke",
              "stylers": [
                {
                  "visibility": "off"
                },
                {
                  "color": "#000000"
                },
                {
                  "lightness": 16
                }
              ]
            },
            {
              "featureType": "all",
              "elementType": "labels.icon",
              "stylers": [
                {
                  "visibility": "off"
                }
              ]
            },
            {
              "featureType": "administrative",
              "elementType": "geometry.fill",
              "stylers": [
                {
                  "color": "#404040"
                }
              ]
            },
            {
              "featureType": "administrative",
              "elementType": "geometry.stroke",
              "stylers": [
                {
                  "color": "#404040"
                },
                {
                  "lightness": 17
                },
                {
                  "weight": 1.2
                }
              ]
            },
            {
              "featureType": "landscape",
              "elementType": "geometry.stroke",
              "stylers": [
                {
                  "color": "#ebebeb"
                },
                {
                  "weight": "2"
                },
              ]
            },
            {
              "featureType": "landscape.natural",
              "elementType": "geometry.fill",
              "stylers": [
                {
                  "color": "#ebebeb"
                }
              ]
            },
            {
              "featureType": "landscape.natural",
              "elementType": "geometry.stroke",
              "stylers": [
                {
                  "color": "#e2e2e2"
                }
              ]
            },
            {
              "featureType": "poi",
              "elementType": "geometry.fill",
              "stylers": [
                {
                  "color": "#ebebeb"
                }
              ]
            },
            {
              "featureType": "poi",
              "elementType": "geometry.stroke",
              "stylers": [
                {
                  "color": "#bbbbbb"
                }
              ]
            },
            {
              "featureType": "road",
              "elementType": "geometry",
              "stylers": [
                {
                  "visibility": "on"
                }
              ]
            },
            {
              "featureType": "road.highway",
              "elementType": "geometry.fill",
              "stylers": [
                {
                  "color": "#e2e2e2"
                },
                {
                  "lightness": 17
                }
              ]
            },
            {
              "featureType": "road.highway",
              "elementType": "geometry.stroke",
              "stylers": [
                {
                  "color": "#bfbfbf"
                },
              ]
            },
            {
              "featureType": "road.arterial",
              "elementType": "geometry.fill",
              "stylers": [
                {
                  "color": "#ffffff"
                }
              ]
            },
            {
              "featureType": "road.arterial",
              "elementType": "geometry.stroke",
              "stylers": [
                {
                  "color": "#ffffff"
                }
              ]
            },
            {
              "featureType": "road.local",
              "elementType": "geometry.fill",
              "stylers": [
                {
                  "color": "#ffffff"
                }
              ]
            },
            {
              "featureType": "road.local",
              "elementType": "geometry.stroke",
              "stylers": [
                {
                  "color": "#ebebeb"
                }
              ]
            },
            {
              "featureType": "road",
              "elementType": "labels",
              "stylers": [
                {
                  "visibility": "on"
                }
              ]
            },
            {
              "featureType": "road",
              "elementType": "labels.text",
              "stylers": [
                {
                  "visibility": "off"
                }
              ]
            },
            {
              "featureType": "road",
              "elementType": "labels.icon",
              "stylers": [
                {
                  "visibility": "on"
                }
              ]
            },
            {
              "featureType": "transit",
              "elementType": "geometry",
              "stylers": [
                {
                  "color": "#d7d7d7"
                },
                {
                  "lightness": 19
                }
              ]
            },
            {
              "featureType": "water",
              "elementType": "geometry",
              "stylers": [
                {
                  "color": "#ffffff"
                }
              ]
            },
            {
              "featureType": "water",
              "elementType": "labels",
              "stylers": [
                {
                  "visibility": "off"
                }
              ]
            }
          ]
        },
        position: {
          lat: 55.748535,
          lng: 37.566665
        },
      }
    }
  }
</script>

<style scoped>
</style>
