.catalog {
  padding-top: 9rem;
  background-repeat: no-repeat;
  background-position: center 10%;
  background-size: auto 87rem;
  &__footer {
    @media (min-width: 700.01px) {
      padding-top: 9rem;
      padding-bottom: 2rem;
      background-repeat: no-repeat;
      background-position: 80% 10%;
      background-size: auto 60rem;
    }
    @media screen and (max-width: 700px) {
      & {
        background-position: center 60%!important;
      }
    }
  }
}
.categoryList__wrapper {
  @extend %container-md;
  position: relative;
}
.categoryItem {
  @extend %d-flex, %f-column;
  width: 100%;
  height: 70rem;
  margin-bottom: 5rem;
  &__footer {
    @media (min-width: 700.01px) {
      & {
        height: 30rem;
        .catalog-slider__calories {
          margin-top: -8rem;
        }
        .catalog-slider__buttons_wrapper {
          margin-top: -10rem;
        }
        .catalog-slider__programs {
          display: none;
        }
        .catalog-slider__buttons_wrapper {

        }
      }
    }
  }
}
.catalogProgress__wrapper {
  @extend %container-md;
  position: relative;
  margin-bottom: 7rem;
  margin-top: 5rem;
}

.catalog-slider__name {
  @extend %container-md;
  margin-bottom: 5rem;
}
.catalog-slider__programs {
  @extend %d-flex, %container-md, %align-items-center;
}
.catalog-slider__programs_length {
  @extend %d-flex, %justify-content-center, %align-items-center;
  background-color: $mid-green;
  font-size: 2.4rem;
  width:6rem;
  height: 6rem;
  font-family: $bold;
  color: $white;
}

.catalog-slider__header {
  @extend %d-flex, %f-column;
}

.catalog-slider__programs_header {
  font-family: $extrabold;
  text-transform: uppercase;
  letter-spacing: -.1rem;
  font-size: 1.7rem;
  color: $d-grey;
  margin-left: 1rem;
}
.catalog-slider__calories {
  @extend %d-flex, %f-column;
  margin-right: 4.5%;
  margin-left: auto;
}
.catalog-slider__calories_programs {
  @extend %d-flex, %f-column, %align-items-center, %justify-content-center;
}
.catalog-slider__calories_header {
  font-family: $extrabold;
  text-transform: uppercase;
  font-size: 1.5rem;
  letter-spacing: -.1rem;
  color: $d-grey;
  transform: rotate(90deg);
  margin-bottom: 4rem;
}

.catalog-slider__calories_programs {
  font-family: $bold;
  font-size: 1.3rem;
  color: $f-grey;
  .calorie_wrapper {
    text-align: center;
    border: .3rem solid $ff-grey;
    width: 8rem;
    padding: 1rem 0;
    margin-bottom: 1rem;
    border-radius: 4rem;
    cursor: pointer;
  }
  .active_program {
    border-color: $mid-green;
    color: $d-grey;
  }
}
.catalog-slider__buttons_wrapper {
  @extend %d-flex, %align-items-center, %container;
  padding-right: 2.7%;
  margin-top: auto;
}

.catalog-slider__details_header {
  margin-left: 18%;
  text-transform: uppercase;
  font-size: 1.5rem;
  font-family: $extrabold;
  color: $d-grey;
  margin-bottom: 1.1rem;
}
.catalog-slider__details_button {
  @extend %black-button, %d-flex, %justify-content-center, %align-items-center;
  width: 35rem;
  padding: 1.5rem 0;
  font-size: 2.4rem;
  font-family: $bold;
  color: $d-grey;
  a {
    @extend %d-flex, %justify-content-center, %align-items-center;
    div:first-child {
      margin-right: 4rem;
    }
    div:nth-child(2) {
      margin-right: 4rem;
    }
  }
}

.catalog-slider__arrow-buttons {
  @extend %d-flex, %align-items-center, %justify-content-center;
  margin-left: auto;
  img {
    cursor: pointer;
    filter: drop-shadow(0px 0px $f-grey);
    transition: transform .1s;
  }
  img:hover {
    filter: drop-shadow(0px 0px #000);
  }
  img:first-child {
    width: 3rem;
    margin-right: 1rem;
  }
  img:last-child {
    width: 5rem;
  }
}
