.catalog {
  padding-top: 9rem;
  background-repeat: no-repeat;
  background-position: center 10%;
  background-size: auto 87rem;
  &__footer {
    @media (min-width: 700.01px) {
      padding-top: 9rem;
      padding-bottom: 2rem;
      background-repeat: no-repeat;
      background-position: 130% 10%;
      background-size: auto 60rem;
    }
    @media screen and (max-width: 700px) {
      & {
        background-position: center 60%!important;
        .progress-wrapper {
          margin-top: -16rem!important;
          margin-bottom: 16rem!important;
        }
      }
    }
  }
  @media (max-width: 700px) {
    & {
      background-size: auto 60rem;
      background-position: center 52%;
      padding-bottom: 5rem;
    }
  }
}
