.category-item {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 70rem;
  margin-bottom: 5rem;
  &__name {
    margin-bottom: 5rem;
  }
  &__programs {
    display: flex;
    align-items: center;
    &_length {
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #52ac49;
      font-size: 2.4rem;
      width:6rem;
      height: 6rem;
      font-family: ProximaNova-Bold;
      color: #fff;
    }
    &_header {
      font-family: ProximaNova-Extrabold;
      text-transform: uppercase;
      letter-spacing: -.1rem;
      font-size: 1.7rem;
      color: #191A1E;
      margin-left: 1rem;
    }
  }
  &__calories {
    display: flex;
    flex-direction: column;
    margin-right: 4.5%;
    margin-left: auto;
    &_mobile {
      @media (min-width: 700.001px) {
        & {
          display: none;
        }
      }
    }
    &_programs {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      font-family: ProximaNova-Bold;
      font-size: 1.3rem;
      color: #818183;
      .calorie {
        text-align: center;
        border: .3rem solid #C8C8C9;
        width: 8rem;
        padding: 1rem 0;
        margin-bottom: 1rem;
        border-radius: 4rem;
        cursor: pointer;
      }
      .active_program {
        border-color: #52AC49;
        color: #191A1E;
      }
    }
    &_header {
      font-family: ProximaNova-Bold;
      text-transform: uppercase;
      font-size: 1.5rem;
      letter-spacing: -.1rem;
      color:#191A1E;
      transform: rotate(90deg);
      margin-bottom: 4rem;
    }
  }
  &__buttons {
    &_wrapper {
      display: flex;
      align-items: center;
      padding-right: 2.7%;
      margin-top: auto;
    }
  }
  &__details {
    &_header {
      margin-left: 18%;
      text-transform: uppercase;
      font-size: 1.5rem;
      font-family: ProximaNova-Extrabold;
      color: #191A1E;
      margin-bottom: 1.1rem;
      &_mobile {
        @media (min-width: 700.001px) {
          & {
            display: none;
          }
        }
      }
    }
    &_button {
      display: flex;
      align-items: center;
      justify-content: center;
      text-transform: uppercase;
      width: 35rem;
      padding: 1.5rem 0;
      font-size: 2.4rem;
      font-family: ProximaNova-Bold;
      color: #191A1E;
      a {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0 4rem;
        div:nth-child(2) {
          margin-right: 3rem;
        }
      }
    }
  }
  &__arrow-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    img {
      cursor: pointer;
      filter: drop-shadow(0px 0px #818183);
      transition: transform .1s;
    }
    img:hover {
      filter: drop-shadow(0px 0px #000);
    }
    img:first-child {
      width: 3rem;
      margin-right: 1rem;
    }
    img:last-child {
      width: 5rem;
    }
  }
  &__header {
    display: flex;
    flex-direction: column;
  }
  &__footer {
    @media (min-width: 700.01px) {
      & {
        height: 30rem;
        .category-item__calories {
          margin-top: -8rem;
        }
        .category-item__buttons_wrapper {
          margin-top: -10rem;
        }
        .category-item__programs {
          display: none;
        }
      }
    }
    @media (max-width: 700px) {
      & {
        margin: 0;
      }
    }
  }
  @media (max-width: 700px) {
    height: 82rem;
    &__arrow-buttons {
      display: none;
    }
    &__buttons {
      &_wrapper {
        margin-left: 3%;
        margin-right: 3%;
        padding: 0;
        justify-content: center;
        margin-top: auto;
      }
    }
    &__details {
      width: 100%;
      &_button {
        width: 100%;
        padding: 3rem 0;
        a {
          justify-content: space-between;
          width: 100%;
          div {
            margin: 0;
          }
        }
      }
      &_header {
        display: none;
        &_mobile {
          font-size: 1rem;
          text-align: center;
        }
      }
    }
    &__calories {
      display: none;
      margin-top: -4.7rem;
      &_mobile {
        margin-right: 4.5%;
        margin-left: auto;
        margin-top: -5rem;
      }
      &_header {
        display: none;
      }
      &_programs {
        .calorie {
          width: 10rem;
          padding: 1.2rem;
          display: none;
          &__value {
            margin-left: auto;
            margin-right: auto;
          }
        }
        .active_program {
          display: flex;
          background-image: url("../../../assets/images/arrow_bottom.svg");
          background-repeat: no-repeat;
          background-size: 1.5rem;
          background-position: 85% center;
          margin-bottom: 1rem;
          .calorie__value {
            margin-left: 1rem;
          }
        }
      }
    }
  }
}
