<template>
  <div>
    <page-header></page-header>
    <nuxt/>
    <page-footer></page-footer>
  </div>
</template>

<style></style>

<script>
  import PageHeader from "../components/PageHeader";
  import PageFooter from "../components/PageFooter";
  export default {
    components: {PageFooter, PageHeader}
  }
</script>
