<template>
  <div class="base_balloon" v-if="false">
  <div class="base_balloon-pc">
      <button @click="choose" class="button-balloon">Бесплатно</button>
      <button @click="choose" class="button-balloon">300р</button>
      <button @click="choose" class="button-balloon">400р</button>
      <button @click="choose" class="button-balloon">500р</button>
  </div>
  <div class="base_balloon-mobale">
    <ul class="mmenuu">
    <li><a>Меню</a>
      <ul class="ssubmenuu">
        <li><a>Бесплатно</a></li>
        <li><a>300р</a></li>
        <li><a>400р</a></li>
        <li><a>500р</a></li>
      </ul>
    </li>
  </ul>
  </div>
  </div>
</template>
<script>
    export default {
        name: "BalloonMap",
      methods: {
        choose: function (e) {
          var btns = document.getElementsByClassName('button-balloon');
          var par = document.getElementsByClassName('button-balloon');
         /* var FreeCoords = [
            {lat: 55.7742558, lng: 37.3658752},
            {lat: 55.7271101, lng: 37.3713684},
            {lat: 55.6915199, lng: 37.4084473},
            {lat: 55.6543476, lng: 37.4386597},
            {lat: 55.6078327, lng: 37.4949646},
            {lat: 55.5930915, lng: 37.5141907},
            {lat: 55.5760157, lng: 37.5952148},
            {lat: 55.5721338, lng: 37.676239},
            {lat: 55.6000748, lng: 37.75177},
            {lat: 55.6512484, lng: 37.8341675},
            {lat: 55.6915199, lng: 37.8300476},
            {lat: 55.7564863, lng: 37.8465271},
            {lat: 55.8228876, lng: 37.8396606},
            {lat: 55.8914861, lng: 37.7064514},
            {lat: 55.9076546, lng: 37.5924683},
            {lat: 55.9115032, lng: 37.5718689},
            {lat: 55.8991862, lng: 37.5059509},
            {lat: 55.8837844, lng: 37.4688721},
            {lat: 55.8722291, lng: 37.4098206},
            {lat: 55.8444822, lng: 37.3919678},
            {lat: 55.823659, lng: 37.3933411},
            {lat: 55.7742558, lng: 37.3658752}
          ];*/
         btns[0].onclick = function() {
            par[0].classList.add("button-balloon_active");
            par[1].classList.remove("button-balloon_active");
            par[2].classList.remove("button-balloon_active");
            par[3].classList.remove("button-balloon_active");
           /* var polygon = new google.maps.Polygon({
              paths: FreeCoords,
              strokeColor: '#FF0000',
              strokeOpacity: 1,
              strokeWeight: 2,
              fillColor: '#FF0000',
              fillOpacity: 0.35
            });
           polygon.setMap(Map)
          }*/
          btns[1].onclick = function() {
            par[0].classList.remove("button-balloon_active");
            par[1].classList.add("button-balloon_active");
            par[2].classList.remove("button-balloon_active");
            par[3].classList.remove("button-balloon_active");
          }
          btns[2].onclick = function() {
            par[0].classList.remove("button-balloon_active");
            par[1].classList.remove("button-balloon_active");
            par[2].classList.add("button-balloon_active");
            par[3].classList.remove("button-balloon_active");
          }
          btns[3].onclick = function() {
            par[0].classList.remove("button-balloon_active");
            par[1].classList.remove("button-balloon_active");
            par[3].classList.add("button-balloon_active");
            par[2].classList.remove("button-balloon_active");
          }
        }}
    }}

</script>

<style scoped>

</style>
