<template>
	<div class="delivery font font__proxima-normal container-inner colors__background-light-grey">
    <div class="delivery__name font-h1 font__proxima-extrabold font-upper">Варианты доставки</div>
    <div class="delivery__container colors__font-f-grey">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed est velit, sollicitudin vel ipsum et, aliquet laoreet neque. Mauris mollis diam neque. <br>
      Donec sit amet orci eget ligula auctor luctus a eget libero.
    </div>
  </div>
</template>

<script>
	export default {
		name: "DeliveriesOptions"
	}
</script>

<style scoped lang="scss">
  .delivery {
    margin-bottom: 7rem;
    &__name {
      padding: 7rem 0;
    }
    &__container {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding-bottom: 7rem;
      font-size: 2rem;
    }
  }
</style>
