<template>
  <div style="height: 70rem; width: 100%;position: relative">
    <GmapMap
    :center="{lat:55.7522200, lng:37.6155600}"
    :zoom="9"
    :keyboard-shortcuts="false"
    map-type-id="roadmap"
    style="width: inherit; height: inherit;"
    :options="mapOptions"
    >
      <GmapPolygon
        :path="point1"
        :options="PolygonOptions"
      />
      <GmapPolygon
        :path="point2"
        :options="PolygonOptions"
      />
    <GmapPolygon
        :path="point3"
        :options="PolygonOptions"
      />
      <GmapPolygon
        :path="point4"
        :options="PolygonOptions"
      />
    </GmapMap>
  </div>
</template>

<script>
export default {
  name: "GoogleMap",
  data () {
    return {
      PolygonOptions:{
        strokeColor: '#52ac49',
        strokeOpacity: 0.8,
        strokeWeight: 3,
        fillOpacity: 0
      },
      mapOptions: {
        disableDefaultUI:"true",
        disableDoubleClickZoom:"true",
        disableAll:"true",
        styles: [
          {
            "featureType": "all",
            "elementType": "all",
            "stylers": [
              {
                "visibility": "on"
              }]
          },
          {
            "featureType": "all",
            "elementType": "labels",
            "stylers": [
              {
                "visibility": "off"
              },
              {
                "saturation": "-100"
              }]

          },
          {
            "featureType": "all",
            "elementType": "labels.text.fill",
            "stylers": [
              {
                "saturation": 36
              },
              {
                "color": "#000000"
              },
              {
                "lightness": 40
              },
              {
                "visibility": "off"
              }]

          },
          {
            "featureType": "all",
            "elementType": "labels.text.stroke",
            "stylers": [
              {
                "visibility": "off"
              },
              {
                "color": "#000000"
              },
              {
                "lightness": 16
              }]

          },
          {
            "featureType": "all",
            "elementType": "labels.icon",
            "stylers": [
              {
                "visibility": "off"
              }]

          },
          {
            "featureType": "administrative",
            "elementType": "geometry.fill",
            "stylers": [
              {
                "color": "#000000"
              },
              {
                "lightness": 20
              }]

          },
          {
            "featureType": "administrative",
            "elementType": "geometry.stroke",
            "stylers": [
              {
                "color": "#000000"
              },
              {
                "lightness": 17
              },
              {
                "weight": 1.2
              }]

          },
          {
            "featureType": "landscape",
            "elementType": "geometry",
            "stylers": [
              {
                "color": "#000000"
              },
              {
                "lightness": 20
              }]

          },
          {
            "featureType": "landscape",
            "elementType": "geometry.fill",
            "stylers": [
              {
                "color": "#242424"
              }]

          },
          {
            "featureType": "landscape",
            "elementType": "geometry.stroke",
            "stylers": [
              {
                "color": "#242424"
              }]

          },
          {
            "featureType": "landscape.natural",
            "elementType": "geometry.fill",
            "stylers": [
              {
                "color": "#242424"
              }]

          },
          {
            "featureType": "poi",
            "elementType": "geometry",
            "stylers": [
              {
                "lightness": 21
              }]

          },
          {
            "featureType": "poi",
            "elementType": "geometry.fill",
            "stylers": [
              {
                "color": "#242424"
              }]

          },
          {
            "featureType": "poi",
            "elementType": "geometry.stroke",
            "stylers": [
              {
                "color": "#4d6059"
              }]

          },
          {
            "featureType": "road",
            "elementType": "geometry",
            "stylers": [
              {
                "visibility": "on"
              },
              {
                "color": "#838383"
              }]

          },
          {
            "featureType": "road",
            "elementType": "geometry.fill",
            "stylers": [
              {
                "color": "#838383"
              }]

          },
          {
            "featureType": "road.highway",
            "elementType": "geometry.fill",
            "stylers": [
              {
                "color": "#838383"
              },
              {
                "lightness": 17
              }]

          },
          {
            "featureType": "road.highway",
            "elementType": "geometry.stroke",
            "stylers": [
              {
                "color": "#838383"
              },
              {
                "lightness": 29
              },
              {
                "weight": 0.2
              }]

          },
          {
            "featureType": "road.arterial",
            "elementType": "geometry",
            "stylers": [
              {
                "color": "#838383"
              },
              {
                "lightness": 18
              }]

          },
          {
            "featureType": "road.arterial",
            "elementType": "geometry.fill",
            "stylers": [
              {
                "color": "#838383"
              }]

          },
          {
            "featureType": "road.arterial",
            "elementType": "geometry.stroke",
            "stylers": [
              {
                "color": "#838383"
              }]

          },
          {
            "featureType": "road.local",
            "elementType": "geometry",
            "stylers": [
              {
                "color": "#838383"
              },
              {
                "lightness": 16
              }]

          },
          {
            "featureType": "road.local",
            "elementType": "geometry.fill",
            "stylers": [
              {
                "color": "#838383"
              }]

          },
          {
            "featureType": "road.local",
            "elementType": "geometry.stroke",
            "stylers": [
              {
                "color": "#838383"
              }]

          },
          {
            "featureType": "transit",
            "elementType": "geometry",
            "stylers": [
              {
                "color": "#838383"
              },
              {
                "lightness": 19
              }]

          },
          {
            "featureType": "water",
            "elementType": "all",
            "stylers": [
              {
                "color": "#2b3638"
              },
              {
                "visibility": "on"
              }]

          },
          {
            "featureType": "water",
            "elementType": "geometry",
            "stylers": [
              {
                "color": "#000000"
              },
              {
                "lightness": 17
              }]

          },
          {
            "featureType": "water",
            "elementType": "geometry.fill",
            "stylers": [
              {
                "color": "#000000"
              }]

          },
          {
            "featureType": "water",
            "elementType": "geometry.stroke",
            "stylers": [
              {
                "color": "#000000"
              }]

          },
          {
            "featureType": "water",
            "elementType": "labels",
            "stylers": [
              {
                "visibility": "off"
              }]

          },
          {
            "featureType": "water",
            "elementType": "labels.text",
            "stylers": [
              {
                "visibility": "off"
              }]

          },
          {
            "featureType": "water",
            "elementType": "labels.text.fill",
            "stylers": [
              {
                "visibility": "off"
              }]

          },
          {
            "featureType": "water",
            "elementType": "labels.text.stroke",
            "stylers": [
              {
                "visibility": "off"
              }]

          },
          {
            "featureType": "water",
            "elementType": "labels.icon",
            "stylers": [
              {
                "visibility": "off"
              }]

          }]

      },
      point4:[
        { lng:37.1173096,lat: 56.0505674} ,
        { lng:37.0596313,lat: 56.0137372 },
        {lng:36.9992066,lat: 55.9722612 },
{       lng:36.9250489,lat: 55.867606 },
{       lng:36.911316,lat: 55.7858404 },
{       lng:36.9030761,lat: 55.6682914 },
{       lng:36.9360352,lat: 55.5907634 },
{      lng: 37.015686,lat: 55.5115268 },
{      lng: 37.0733643,lat: 55.4477108 },
{     lng:  37.2052002,lat: 55.3822312 },
{      lng: 37.3480225,lat: 55.3385178 },
{      lng: 37.5018311,lat: 55.3072644 },
{ lng:      37.6968384,lat: 55.3103909 },
{     lng:  37.96875,lat: 55.3494507 },
{      lng: 38.1060791,lat: 55.37755},
{    lng:   38.2077026,lat: 55.4477108} ,
{      lng: 38.2543946,lat: 55.5270759 },
{ lng:      38.2818604,lat: 55.6264453 },
{   lng:    38.2955933,lat: 55.7734834 },
{      lng: 38.2681275,lat: 55.867606},
{      lng: 38.1939697,lat: 55.9445859} ,
{      lng: 38.0923462,lat: 56.0168078 },
{      lng: 37.9769897,lat: 56.0735684 },
{      lng: 37.8424072,lat: 56.0950237 },
{      lng: 37.6913452,lat: 56.1225914 },
{      lng: 37.4743652,lat: 56.1333069 },
{      lng: 37.3342896,lat: 56.1271842 },
{      lng: 37.199707,lat: 56.10881},
{lng:37.1173096,lat: 56.0505674}
      ],
      point3:[
        {lng:38.1095982,lat: 55.7446515},
        {lng:38.0978394,lat: 55.8645236},
        {lng:38.0140686,lat: 55.9491998 },
        {lng:37.883606,lat: 56.0114342},
        {lng:37.6391602,lat: 56.0382946},
        {lng:37.4414063,lat: 56.0413632},
        {lng:37.2807312,lat: 56.018343},
        {lng:37.2052002,lat: 55.9883961},
        {lng:37.147522,lat: 55.9345871},
        {lng:37.0706176,lat: 55.8144007},
        {lng:37.10495,lat: 55.627996},
        {lng:37.1640015,lat: 55.5294078},
        {lng:37.4153137,lat: 55.4165436 },
        {lng:37.5828552,lat: 55.393932},
        {lng:37.8547668,lat: 55.4165436} ,
        {lng:37.9701233,lat: 55.4741836 },
        {lng:38.0937195,lat: 55.5666986 },
        {lng:38.1129456,lat: 55.6512484},
        {lng: 38.1095982,lat: 55.7446515}
      ],
      point2: [
        {lng:37.237975,lat: 55.7896607},
        {lng:37.3141272, lat:55.5815633},
        {lng:37.509001, lat:55.5031465},
        {lng:37.7258126,lat:55.512479 },
        {lng:37.817011,lat: 55.53034},
        {lng:37.878127,lat: 55.5792368},
        {lng:37.9536271,lat: 55.7085668},
        {lng:37.939904,lat: 55.85057},
        {lng:37.7601321,lat: 55.9421334},
        {lng:37.6153941,lat: 55.9598982},
        {lng:37.4650869,lat:55.9621109 },
        {lng:37.3251111,lat: 55.9144578},
        {lng:37.237975,lat:55.7896607 },
        ],
      point1: [
        {lng:37.3658752,lat: 55.7742558},
        {lng:37.3713684, lat:55.7271101},
        {lng:37.4084473, lat:55.6915199},
        {lng:37.4386597,lat: 55.6543476},
        {lng:37.4949646,lat: 55.6078327},
        {lng:37.5141907,lat: 55.5930915},
        {lng:37.5952148,lat: 55.5760157},
        {lng:37.676239,lat: 55.5721338},
        {lng:37.75177,lat: 55.6000748},
        {lng:37.8341675,lat: 55.6512484},
        {lng:37.8300476,lat: 55.6915199},
        {lng:37.8465271,lat: 55.7564863},
        {lng:37.8396606,lat: 55.8228876},
        {lng:37.7064514,lat: 55.8914861},
        {lng:37.5924683,lat: 55.9076546},
        {lng:37.5718689,lat: 55.9115032},
        {lng:37.5059509,lat: 55.8991862},
        {lng:37.4688721,lat: 55.8837844},
        {lng:37.4098206,lat: 55.8722291},
        {lng:37.3919678,lat: 55.8444822},
        {lng:37.3933411,lat: 55.823659},
        {lng:37.3658752,lat: 55.7742558}]
    }
    },
  methods: {}
}
</script>

<style scoped>

</style>
