<template>
  <div class="base">
    <google-map>
    </google-map>
    <text-map></text-map>
    <balloon-map></balloon-map>
   <!-- <address-map></address-map> -->
  </div>
</template>

<script>
  import BalloonMap from "./BalloonMap"
  //import AddressMap from "./AddressMap"
  import TextMap from "./TextMap"
  import GoogleMap from "./GoogleMap";
    export default {
        name: "PlacementMap",
      components: {GoogleMap, BalloonMap, /*AddressMap*/ TextMap}
    }
</script>

<style scoped>

</style>
