<template>
  <div class="base_text">
    <span>Готовое</span><br>Правильное<br>Питание<br>С Доставкой
  </div>
</template>
<script>
    export default {
        name: "TextMap"
    }
</script>

<style scoped>

</style>
