<template>
  <section class="about">
    <div class="container-inner about__static font__proxima-extrabold">
      <div class="about__static-name colors__font-green">Performance food</div>
      <div class="about__static-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque ultricies fringilla tincidunt. Etiam mattis, arcu non egestas consequat, dolor nibh lobortis odio, vitae varius mi dui id neque. Mauris pretium, sem id ornare lacinia, lectus nunc faucibus felis, et iaculis quam purus non velit. Pellentesque ac nisi non augue dapibus malesuada quis eu felis.</div>
    </div>
    <div class="container-inner colors__background-white">
      <static-best-choise></static-best-choise>
      <static-interest></static-interest>
    </div>
  </section>
</template>

<script>
import RewiewCard from '../components/rewiews/RewiewCard'
import SubscribeForm from '../components/forms/SubscribeForm'
import StaticCard from "../components/static/StaticCard";
import StaticInterest from "../components/static/StaticInterest";
import StaticBestChoise from "../components/static/StaticBestChoise";

export default {
  components: {StaticBestChoise, StaticInterest, StaticCard, SubscribeForm, RewiewCard},
  asyncData ({req, params, store}) {
    //TODO: get all data from api
    return {
      title: 'about page'
    }
  }
}
</script>

<style scoped lang="scss">
  .about {
    &__static {
      font-size: 6rem;
      display: flex;
      flex-direction: column;
      margin: 7rem 0;
    }
  }
</style>

<style lang="scss">
  .about {
    &__static {

    }
  }
</style>

