<template>
  <div>
    <google-map-place></google-map-place>
    <section class="wrapper-contacts-feedback">
      <contacts-info></contacts-info>
      <feedback-form></feedback-form>
    </section>
  </div>
</template>

<script>
  import GoogleMapPlace from '../components/contacts/GoogleMapPlace';
  import ContactsInfo from '../components/contacts/contactsInfo';
  import FeedbackForm from "../components/contacts/FeedbackForm";
  export default {
    name: "contacts",
    components: {GoogleMapPlace, ContactsInfo, FeedbackForm}
  }
</script>

<style scoped>
  .wrapper-contacts-feedback {
    display: flex;
  }
  @media screen and (max-width: 700px) {
    .wrapper-contacts-feedback {
      display: block;
    }
  }
</style>
