<template>
  <section>
    <catalog-slider></catalog-slider>
    <dishes-of-the-day class="container-md"></dishes-of-the-day>
    <static-block></static-block>
    <placement-map></placement-map>
    <main-reviews :reviews="reviews"></main-reviews>
    <reviews-and-certificate-block :smallblockreviews="smallblockreviews"></reviews-and-certificate-block>
    <main-instagram :instagrams="instagrams"></main-instagram>
    <catalog-slider :showNavigation="false"
                    :showArrows="false"
                    :buttonName="'Начать сейчас'"
                    :catalog-class="'catalog__footer'"
                    :category-item-class="'category-item__footer'"
    ></catalog-slider>
  </section>
</template>

<script>
import StaticBlock from '../components/StaticBlock'
import MainInstagram from '../components/MainInstagram'
import MainReviews from '../components/MainReviews'
import ReviewsAndCertificateBlock from '../components/ReviewsAndCertificateBlock'
import CatalogSlider from '../components/catalog/slider/CatalogSlider'
import PlacementMap from "../components/map/PlacementMap";
import DishesOfTheDay from '../components/dishes/DishesOfTheDay'
import DefaultSlider from '../components/slider/DefaultSlider'
export default {
  components: {PlacementMap, CatalogSlider, StaticBlock,MainInstagram,MainReviews,ReviewsAndCertificateBlock,DishesOfTheDay,DefaultSlider},
  asyncData ({req, params, store}) {
    //TODO: get all data from api
    let dishesList = []
    for (let i = 0; i < 50; i++) {
      dishesList.push(
        {
          name: '',
          id: i,
          description: 'Творог со злаками и малиновым джемом',
          mealTime: i % 2 === 0 ? 'Обед' : 'Завтрак',
          options: [
            {
              name: 'Блюда',
              value: Math.floor(Math.random() * 50) + 50
            },
            {
              name: 'Белки',
              value: Math.floor(Math.random() * 100) + 100
            },
            {
              name: 'Жиры',
              value: Math.floor(Math.random() * 30) + 30
            },
            {
              name: 'Углеводы',
              value: Math.floor(Math.random() * 80) + 80
            }
          ],
          img: i % 2 === 0 ? 'obed.png' : 'zavtrak.png'
        }
      )
    }
    store.dispatch('dishesOTDay/setDishesAction', dishesList)
    return {
      title: 'main page',
      instagrams: [
        '/img/insta.png',
        '/img/insta.png',
        '/img/insta.png',
        '/img/insta.png',
        '/img/insta.png',
        '/img/insta.png',
      ],
      smallblockreviews: [
        'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur, vel.',
        'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur, vel.',
        'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur, vel.',
        'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur, vel.'
      ],
      reviews:[{
        text: 'Dolor sit amet, in per tempor regione lucilius, phaedrum sensibus interpretaris asdasdasdasdasdasdasdaspro ei.',
        name: 'Natalia Gorozhanova',
        job: 'Film actress'
      },
        {
          text: 'Fsdasd asdasdsad asdasdasd asdasdasdsad asdasdsad asdasd asdasdasds',
          name: 'dasdasd asdsadasd',
          job: 'asdasdasd asdasdsa'
        },
        {
          text: 'Fsdasd asdasdsad asdasdasd asdasdasdsad asdasdsad asdasd asdasdasds',
          name: 'dasdasd asdsadasd',
          job: 'asdasdasd asdasdsa'
        },
        {
          text: 'Fsdasd asdasdsad asdasdasd asdasdasdsad asdasdsad asdasd asdasdasds',
          name: 'dasdasd asdsadasd',
          job: 'asdasdasd asdasdsa'
        }]
    }
  }
}
</script>

<style scoped lang="scss">
  .margin {
    margin: 0!important;
  }
</style>

