<template>
  <div class="wrapper-reviews">
    <review-card v-for="(item, index) in reviewsToShow()" :key="index" :element="item"></review-card>
    <section class="service">
      <button class="service__more-data-btn btn" @click.prevent="addReview" :disabled="!isMoreData">
        Загрузить ещё
        <img src="../assets/images/arrow_bottom_white.svg" class="service__btn-img service__btn-img_v" alt="more">
      </button>
      <subscribe-formm></subscribe-formm>
    </section>
  </div>
</template>

<script>
  import axios from 'axios';
  import reviewCard from '../components/reviews/reviewCard';
  import SubscribeFormm from "../components/reviews/subscribeFormm";

  export default {
    name: "reviews",
    components: {reviewCard, SubscribeFormm},
    data() {
      return {
        reviewsList: [],
        showedReviewsCount: 3
      }
    },
    methods: {
      asyncData() {
        //gets data from real server
        /*axios.get(`http://APIserver/reviews.json`)
          .then(response => response.data)
          .catch(error => {
            error({ statusCode: 404, message: 'Страница не найдена' })
          });
      };*/
        return {
          reviews: [
            {
              id: 1,
              firstname: 'Natalia',
              surname: 'Gorozhanova',
              imgSrc: './natalia-gorozhanova.png',
              calories: 1200,
              comment: 'Sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna.',
              netSocialLinks: [
                {key: 'fb', link: 'https://facebook.com/xprofile'},
                {key: 'vk', link: 'https://vk.com/xprofile'}
              ]
            },
            {
              id: 2,
              firstname: 'Marina',
              surname: 'Roy',
              imgSrc: './marina-roy.png',
              calories: 1500,
              comment: 'Dolor sit amet, consectetur adipiscing elit. Ut nulla eros, sollicitudin eleifend arcu et, ' +
                'condimentum dignissim tortor. Fusce pellentesque.',
              netSocialLinks: [
                {key: 'fb', link: 'https://facebook.com/xprofile'},
                {key: 'vk', link: 'https://vk.com/xprofile'}
              ]
            },
            {
              id: 3,
              firstname: 'Jade',
              surname: 'Amber',
              imgSrc: './jade-amber.png',
              calories: 1800,
              comment: 'Cras egestas ipsum est, sed euismod enim suscipit ut. Nullam congue dictum urna' +
                ' sit amet vehicula. Quisque nec ullamcorper tortor.',
              netSocialLinks: [
                {key: 'fb', link: 'https://facebook.com/xprofile'},
                {key: 'vk', link: 'https://vk.com/xprofile'}
              ]
            },
            {
              id: 4,
              firstname: 'Natalia',
              surname: 'Gorozhanova',
              imgSrc: './natalia-gorozhanova.png',
              calories: 1200,
              comment: 'Sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna.',
              netSocialLinks: [
                {key: 'fb', link: 'https://facebook.com/xprofile'},
                {key: 'vk', link: 'https://vk.com/xprofile'}
              ]
            },
            {
              id: 5,
              firstname: 'Marina',
              surname: 'Roy',
              imgSrc: './marina-roy.png',
              calories: 1500,
              comment: 'Dolor sit amet, consectetur adipiscing elit. Ut nulla eros, sollicitudin eleifend arcu et, ' +
                'condimentum dignissim tortor. Fusce pellentesque.',
              netSocialLinks: [
                {key: 'fb', link: 'https://facebook.com/xprofile'},
                {key: 'vk', link: 'https://vk.com/xprofile'}
              ]
            },
            {
              id: 6,
              firstname: 'Jade',
              surname: 'Amber',
              imgSrc: './jade-amber.png',
              calories: 1800,
              comment: 'Cras egestas ipsum est, sed euismod enim suscipit ut. Nullam congue dictum urna' +
                ' sit amet vehicula. Quisque nec ullamcorper tortor.',
              netSocialLinks: [
                {key: 'fb', link: 'https://facebook.com/xprofile'},
                {key: 'vk', link: 'https://vk.com/xprofile'}
              ]
            }
          ]
        }
      },
      reviewsToShow() {
        let showData = [];
        for(let i=0; i < this.showedReviewsCount; i++) {
          showData.push(this.reviewsList[i]);
        }
        return showData;
      },
      addReview() {
        if(this.showedReviewsCount + 1 <= this.reviewsList.length) {
          this.showedReviewsCount += 1;
        }
      }
    },
    computed: {
      isMoreData() {
        return this.showedReviewsCount + 1 <= this.reviewsList.length;
      }
    },
    created() {
      this.reviewsList = this.asyncData().reviews;
    }
  }

</script>

<style scoped lang="scss">
  @import '../assets/css/components/reviews/reviews.scss';
</style>
