.wrapper-reviews {
  font-family: ProximaNova-Extrabold;
  margin: 10rem 3rem 0;
  background-color: #e6e6e6;
}

.btn {
  border: none;
  outline: none;
  cursor: pointer;
  text-transform: uppercase;
  background-color: #191a1e;
  color: #ffffff;
  font-family: ProximaNova-Extrabold;
  font-size: 1.8rem;
  &:hover {
    background-color: lighten(#191a1e, 20%);
  }
  &:disabled {
    color: grey;
  }
}

.service {
  margin: 10rem 1rem;
  display: flex;
  &__ {
    &more-data-btn, &send, &subscribe {
      display: flex;
      align-items: center;
    }
    &more-data-btn {
      padding: 1.4rem 4.2rem;
      margin-right: auto;
    }
    &btn-img {
      margin-left: 2rem;
      &_v {
        width: 1.5rem;
      }
    }
  }
}

@media (max-width: 700px) {
  .wrapper {
    margin: 2rem 1rem 0;
    &-reviews {
      margin-top: 3rem;
    }
  }
  .service {
    margin: 1rem;
    display: block;
    &__ {
      &more-data-btn {
        width: 100%;
        justify-content: center;
      }
    }
  }
}
