.review {
  &__ {
    &item {
      font-size: 0;
      display: flex;
      color: #191a1e;
      margin-bottom: 4.6rem;
    }
    &image-wrapper, &program, &description, &nsocials {
      width: 25%;
      box-sizing: border-box;
    }
    &image {
      width: 100%;
      height: auto;
    }
    &program {
      padding: 7.5rem;
      text-transform: uppercase;
      background-color: #f0f0f0;
      &-caption, &-calories-label {
        font-size: 1.22rem;
        color: #28292d;
      }
      &-caption {
        padding: 2rem 0;
      }
      &-name {
        font-size: 4.43rem;
        line-height: 3.5rem;
        padding: 2.6rem 0;
        &_accented {
          color: #52ac49;
        }
      }
      &-calories {
        display: flex;
        align-items: center;
        padding: .8rem 0;
        &-label {
          margin-right: 1.5rem;
        }
        &-count {
          font-family: ProximaNova-Bold;
          padding: .8rem 1.7rem;
          border: .3rem solid #52ac49;
          border-radius: 2rem;
          font-size: 1.3rem;
        }
      }
    }
    &description, &nsocials {
      background-color: #f6f6f6;
    }
    &description {
      padding: 6rem;
    }
    &fullname {
      font-family: ProximaNova-Bold;
      font-size: 2.42rem;
      padding: 4rem 0 2.6rem;
    }
    &text {
      font-family: ProximaNova-Semibold;
      font-size: 2.3rem;
    }
    &nsocials {
      display: flex;
      align-items: flex-end;
      justify-content: flex-end;
      padding: 10rem 4rem;
    }
  }
  .facebook__mobile {
    background-color: #0665ef;
  }
  .vk__mobile {
    background-color: #6087cc;
  }
  .facebook__mobile, .vk__mobile {
    img {
      height: 2rem;
      filter: invert(0%);
    }
  }
}

@media screen and (max-width: 700px) {
  .review {
    &__ {
      &item {
        flex-wrap: wrap;
          margin-bottom: 1rem;
      }
      &image-wrapper, &program, &description, &nsocials {
        padding: 1rem;
      }
      &image-wrapper {
        order: 1;
        width: 40%;
        padding: 0;
      }
      &program {
        width: 40%;
        order: 3;
        &-caption {
          padding: 0;
        }
        &-name {
          font-size: 2rem;
          line-height: 2rem;
          padding: 1rem 0;
        }
        &-calories {
          padding: 0;
        }
      }
      &description {
        width: 100%;
        order: 4;
      }
      &nsocials {
        flex-direction: column;
        justify-content: space-between;
        width: 20%;
        order: 2;
      }
      &fullname {
        padding: 1rem 0;
      }
    }
  }
  .vk, .facebook {
    &__mobile {
      width: 100%;
    }
  }
}
