.subscribe {
  display: flex;
  align-items: stretch;
  align-content: flex-start;
  &__ {
    &email {
      border: none;
      background: url('../../assets/images/mail.png') no-repeat, #fff;
      background-size: 1em;
      background-position: 10% center;
      padding: 0 13rem;
      outline: none;
      font-size: 2rem;
      &:focus {
        &::-webkit-input-placeholder  {color: transparent; transition: 0.5s;}
        &::-moz-placeholder           {color: transparent; transition: 0.5s;}
        &:-moz-placeholder            {color: transparent; transition: 0.5s;}
        &:-ms-input-placeholder       {color: transparent; transition: 0.5s;}
      }
    }
    &send {
      padding: 1.4rem 4.2rem;
    }
    &btn-img {
      margin-left: 2rem;
      &_h {
        width: 3rem;
      }
    }
  }
}

.btn {
  border: none;
  outline: none;
  cursor: pointer;
  text-transform: uppercase;
  background-color: #191a1e;
  color: #ffffff;
  &:hover {
    background-color: lighten(#191a1e, 20%);
  }
  font-family: ProximaNova-Extrabold;
  font-size: 1.8rem;
}

@media (max-width: 700px) {
  .subscribe {
    display: block;
    margin: 2rem 0;
    &, &__email {
      display: block;
    }
    &__ {
      &send {
        width: 100%;
        justify-content: center;
      }
      &email {
        display: block;
        box-sizing: border-box;
        width: 100%;
        padding: 1rem 1rem 1rem 6rem;
        background-position-x: 2rem;
      }
    }
  }
}
