.card {
  width: 30%;
  margin: 1.515%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  &:hover {
    .card_normal {
      opacity: 0;
    }
    .card_hovered {
      opacity: 1;
    }
  }
  &_normal {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5rem 4rem;
    transition: opacity .5s;
  }
  &_hovered {
    position: absolute;
    top: 0;
    padding: 5rem 4rem;
    height: 88%;
    opacity: 0;
    transition: opacity .5s;
  }
  &__header {
    width: 94%;
    margin-bottom: 3rem;
  }
  &__info {
    width: 100%;
  }
  &__description {
    width: 94%;
    color: #777777;
    font-family: ProximaNova-Semibold;
    font-size: 2rem;
    margin-bottom: 3rem;
  }
  &__footer {
    width: 94%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    &_price {
      color: #333539;
      font-size: 3rem;
      font-family: ProximaNova-Bold;
      display: flex;
      letter-spacing: -.2rem;
      div:first-child {
        margin-right: .6rem;
      }
    }
    &_hr {
      width: .25rem;
      border-right: .25rem solid #cacbcb;
      height: 5rem;
    }
    &_days {
      display: flex;
      align-items: center;
      img {
        width: 2.4rem;
        margin-right: 1rem;
      }
      div {
        color: #333539;
        font-size: 1.8rem;
        letter-spacing: -.1rem;
        font-family: ProximaNova-Semibold;
      }
    }
  }
  &__image {
    display: none;
  }
  @media (max-width: 1010px) {
    width: 28%;
  }
  @media (max-width: 700px) {
    &:first-child {
      margin-left: 2rem;
    }
    width: 78%;
    &__image {
      display: flex;
      img {
        height: 23rem;
      }
      margin-bottom: 3rem;
    }
    &__header {
      width: 95%;
    }
    &__slider {
      display: none;
    }
    &:hover {
      .card_normal {
        opacity: 1;
      }
      .card_hovered {
        display: none;
      }
    }
  }
}
.header {
  font-family: ProximaNova-Extrabold;
  text-transform: uppercase;
  font-size: 3.5rem;
  line-height: 2.9rem;
  color: rgb(50,53,57);
  letter-spacing: -.15rem;
  &_green {
    color: #52ac49;
  }
}
.slider {
  width: 100%;
  &__img {
    img {
      height: 22.5rem;
      margin-left: -.5rem;
    }
    height: 22.5rem;
  }
  .swiper-wrapper {
    height: 25rem;
  }
  .swiper-pagination {
    position: unset;
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 4.3rem;
  }
}
.info {
  margin-bottom: 3rem;
  &__header {
    color: #28292d;
    font-family: ProximaNova-Extrabold;
    font-size: 1.4rem;
    margin-bottom: 2rem;
    padding-left: .8rem;
  }
  &__options {
    display: flex;
    justify-content: space-between;
  }
  &__option {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.option {
  font-size: 1.5rem;
  font-family: ProximaNova-Bold;
  &__value {
    color: #28292d;
    border: .3rem solid #bfbfbf;
    border-radius: 5rem;
    padding: .8rem 2rem;
    text-align: center;
    margin-bottom: .5rem;
  }
  &__name {
    color: #575a5e;
  }
}
.program {
  display: flex;
  flex-direction: column;
  &__header {
    font-family: ProximaNova-Bold;
    margin-bottom: 6rem;
  }
  &__min {
    color: #979799;
    font-size: 1.5rem;
    letter-spacing: -.1rem;
  }
  &__total {
    color: #272730;
    font-size: 3rem;
    letter-spacing: -.15rem;line-height: 2.7rem;
  }
  &__droplist {
    margin-bottom: 2rem;
  }
  &__description {
    font-size: 2rem;
    &-header {
      color: #333539;
      font-family: ProximaNova-Bold;
      margin-bottom: 2rem;
    }
    &-body {
      color: #777777;
      font-family: ProximaNova-Semibold;
    }
  }
  &__details {
    background-image: url("../../../assets/images/arrow__right_black.svg");
    background-repeat: no-repeat;
    border: .5rem solid #1bae3f;
    padding: 1.5rem 4rem;
    background-size: 4rem;
    background-position: calc(100% - 4rem) center;
    font-size: 2rem;
    font-family: ProximaNova-Extrabold;
    margin-top: auto;
    cursor: pointer;
    color: #333539;
    &_filled {
      border: 0;
      background-image: url("../../../assets/images/arrow-right.svg");
      background-repeat: no-repeat;
      background-size: 3rem;
      background-position: calc(100% - 2rem) center;
      background-color: #52AC49;
      width: 92%;
      padding: 2.3rem 2rem;
      margin-top: 3rem;
      margin-right: -.8rem;
      @media (min-width: 700.00001px) {
        display: none;
      }
    }
  }
}
