<template>
  <div class="dishes-item">
    <img :src="'/dishes/' + item.img"
         alt="dishOfTheDay">
    <div class="dishes-item__info">
      <div class="dishes-item__meal-time">{{item.mealTime}}:</div>
      <div class="dishes-item__description">{{item.description}}</div>
    </div>
    <div class="dishes-item_hover">
      <div class="dishes-item__options">
        <div class="dishes-item__options-header">
          В день:
        </div>
        <div class="dishes-item__options-body">
          <div v-for="(i, index) in item.options"
               :key="index"
               class="dishes-item__option"
          >
            <div class="dishes-item__option-value">{{i.value}}</div>
            <div>{{i.name}}</div>
          </div>
        </div>
      </div>
      <div class="dishes-item__options-description">{{item.description}}</div>
    </div>
    <div class="dishes-item__mobile-info">
      <div class="dishes-item__options">
        <div class="dishes-item__options-header">
          В день:
        </div>
        <div class="dishes-item__options-body">
          <div v-for="(i, index) in item.options"
               :key="index"
               class="dishes-item__option"
          >
            <div class="dishes-item__option-value">{{i.value}}</div>
            <div>{{i.name}}</div>
          </div>
        </div>
      </div>
      <div class="dishes-item__meal-time">{{item.mealTime}}:</div>
      <div class="dishes-item__options-description">{{item.description}}</div>
    </div>
  </div>
</template>
<script>
  export default {
    name: 'DishesItem',
    props: ['item'],
    data() {
      return {

      }
    }
  }
</script>
<style lang="scss">
  @import '../../assets/css/components/dishes/dishes-item.scss';
</style>
