<template>
  <section class="dishes">
    <div class="dishes__header">
      <div class="header_h1 header_h1_green ">Блюда</div>
      <div class="header_h1">дня</div>
    </div>
    <div class="dishes__amount">
      <div class="dishes__amount-body">
        <div class="dishes__amount_green">Всего</div>
        <div>{{dishesList.length}} блюд</div>
        <div>дня</div>
      </div>
    </div>
    <div v-swiper:mySwiper="swiperOption" class="dishes__slider">
      <div class="swiper-scrollbar swiper-scrollbar__desktop" slot="scrollbar"></div>
      <div class="swiper-wrapper">
        <dishes-item v-for="(item, index) in dishesList"
                     :key="index"
                     :item="item"
                     class="dishes__item swiper-slide"></dishes-item>
      </div>
    </div>
  </section>
</template>

<script>
import VueScrollbar from '~/node_modules/vue2-scrollbar'
import DishesItem from '~/components/dishes/DishesItem'
export default {
  name: "DishesOfTheDay",
  components: {VueScrollbar, DishesItem},
  data() {
    return {
      swiperOption: {
        loop: false,
        slidesPerView: 'auto',
        scrollbar: {
          el: '.swiper-scrollbar',
          hide: false,
          draggable: true
        }
      }
    }
  },
  computed: {
    dishesList() {
      return this.$store.getters['dishesOTDay/getDishes']
    }
  }
}
</script>

<style scoped lang="scss">
  @import '../../assets/css/components/dishes/dishes-of-the-day.scss';
  .swiper-container-horizontal>.swiper-scrollbar {
    border-radius: 0;
    height: 1.5rem;
    position: unset;
    left: unset;
    bottom: unset;
    width: 90%;
    margin-bottom: 3rem;
    @media screen and (max-width: 700px) {
      & {
        height: 1rem;
        margin-bottom: 0;
        margin-top: 3rem;
        width: 100%;
      }
    }
  }
</style>
