<template>
	<div>
    <div>Slider</div>
    <div>Nav Slider</div>
    <div>picker orf Trade Offer</div>
    <button>Order -></button>
  </div>
</template>

<script>
export default {
  name: "CatalogCardTradeOffers"
}
</script>

<style scoped>

</style>
