<template>
  <div class="card">
    <div class="card_normal">
      <div class="card__header header">
        <div class="header_green">
          {{card.name}}
        </div>
        <div>
          {{card.calories}} КАЛЛ
        </div>
      </div>
      <div v-swiper:mySwiper="swiperOption" class="card__slider slider">
        <div class="swiper-wrapper">
          <div v-for="(item, index) in card.images"
               :key="index"
               class="swiper-slide slider__img">
            <img :src="item" alt="dish">
          </div>
        </div>
        <div class="swiper-pagination card-pagination"></div>
      </div>
      <div class="card__image">
        <img :src="card.images[0]" alt="dish">
      </div>
      <div class="card__info info">
        <div class="info__header">В ДЕНЬ:</div>
        <div class="info__options">
          <div v-for="(item, index) in card.options"
               :key="index" class="info__option option">
            <div class="option__value">{{item.value}}</div>
            <div class="option__name">{{item.name}}</div>
          </div>
        </div>
      </div>
      <div class="card__description">{{card.description}}</div>
      <div class="card__footer">
        <div class="card__footer_price">
          <div>{{transformPrice(card.price).h1}}</div>
          <div>{{transformPrice(card.price).h2}} Р</div>
        </div>
        <div class="card__footer_hr"></div>
        <div class="card__footer_days">
          <img src="/catalog/days.svg" alt="">
          <div>{{this.activeDay.name}}</div>
        </div>
      </div>
      <nuxt-link to="" class="program__details_filled">
        ПОДРОБНЕЕ
      </nuxt-link>
    </div>
    <div class="card_hovered program">
      <div class="program__header">
        <div class="program__min">ОТ {{card.minPrice}} Р / ДЕНЬ</div>
        <div class="program__total">{{activeDay.value}} Р</div>
      </div>
      <card-drop-list :list="daysList"
                      @changeItem="changeActiveDay"
                      class="program__droplist"></card-drop-list>
      <div class="program__description">
        <div class="program__description-header">Программа подойдет:</div>
        <div class="program__description-body">
          Lorem ipsum dolor sit amet, consectetur
          adipisicing elit. Ea, illo ipsum laborum libero nam nobis!
        </div>
      </div>
      <nuxt-link to="" class="program__details">
        ПОДРОБНЕЕ
      </nuxt-link>
    </div>
  </div>
</template>
<script>
  import CardDropList from "~/components/droplist/DropList";
  import numeralize from "numeralize-ru"
  export default {
    name: 'CatalogCard',
    props: ['item', 'delay'],
    components: {CardDropList},
    data() {
      return {
        card: {},
        daysList: [],
        activeDay: {},
        swiperOption: {
          loop: false,
          slidesPerView: '1',
          autoplay: {
            delay: this.delay,
          },
          pagination: {
            el: '.swiper-pagination',
            bulletElement: 'div',
            clickable: true,
            bulletClass: 'card-pagination__bullet',
            bulletActiveClass: 'card-pagination__bullet_active'
          }
        }
      }
    },
    created() {
      this.card = Object.assign(this.item, {
        days: [1, 5, 10, 30],
        price: 2600 + Math.floor(Math.random() * 50),
        description: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis delectus eligendi excepturi quis sit voluptatibus!',
        images: ['/catalog/dish1.png', '/catalog/dish2.png', '/catalog/dish3.png', '/catalog/dish1.png', '/catalog/dish2.png']
      })
      this.activeDay = {
        name:  this.card.days[0] + ' ' + numeralize.pluralize(this.card.days[0], 'день', 'дня', 'дней'),
        value: Math.floor(Math.random()*1000)
      }
      this.daysList = this.card.days.map(d => {
        return {
          name:  d + ' ' + numeralize.pluralize(d, 'день', 'дня', 'дней'),
          value: Math.floor(Math.random()*1000)
        }
      })
    },
    methods: {
      transformPrice: function (price) {
        return { h1: Math.floor(price / 1000), h2: price % 1000}
      },
      changeActiveDay: function (value) {
        this.activeDay = value
      }
    }
  }
</script>
<style scoped lang="scss">
  @import "../../../assets/css/components/catalog/card/catalog-card.scss";
</style>
<style lang="scss">
  .card-pagination {
    &__bullet {
      width: 17%;
      height: .5rem;
      background: #c8c8c9;
      border-radius: 0;
      &_active {
        background: #52ac49;
      }
    }
  }
</style>
