<template>
  <div v-swiper:mySwiper="swiperOption" class="card-slider">
    <div class="swiper-wrapper">
      <catalog-card class="program__card swiper-slide"
                    v-for="(item, index) in cardList"
                    :key="index"
                    :item="item"
                    :delay="3000"
      ></catalog-card>
    </div>
    <div class="card-scrollbar">
      <div v-if="showScroll" class="swiper-scrollbar" slot="scrollbar"></div>
      <div class="program__amount">
        <div>ВСЕГО</div>
        <div>{{cardListLength}}</div>
      </div>
    </div>
  </div>
</template>
<script>
  import CatalogCard from '~/components/catalog/card/CatalogCard'
  import numeralize from "numeralize-ru"
  export default {
    name: 'CatalogCardSlider',
    props: {
      cardList: {
        type: Array,
        default: function () { return [] }
      },
      showScroll: {
        type: Boolean,
        default: true
      }
    },
    components: {CatalogCard},
    data() {
      return {
        swiperOption: {
          loop: false,
          slidesPerView: 'auto',
          scrollbar: {
            el: '.swiper-scrollbar',
            hide: false,
            draggable: true
          }
        }
      }
    },
    computed: {
      cardListLength() {
        return this.cardList.length + ' ' + numeralize.pluralize(this.cardList.length , 'ПРОГРАММА', 'ПРОГРАММЫ', 'ПРОГРАММ')
      },
    }
  }
</script>
<style scoped lang="scss">
  .card-slider {
    margin-right: -2.48%;
    @media (max-width: 1010px) {
      margin-right: 0;
    }
  }
  .program {
    &__card {
      background: #f0f0f0;
    }
    &__amount {
      font-size: 2rem;
      font-family: ProximaNova-Extrabold;
      margin-left: 4.2rem;
      div {
        line-height: 1.6rem;
      }
      div:first-child {
        color: #52AC49;
      }
      div:last-child {
        color: #191a1e;
      }
    }
  }
  .swiper-scrollbar {
    position: unset;
    left: unset;
    bottom: unset;
    height: 1.2rem;
    width: 80%;
    border-radius: unset;
    margin-left: 1.5%;
  }
  .card-scrollbar {
    margin-top: 2rem;
    display: flex;
    align-items: center;
    @media (max-width: 700px) {
      display: none;
    }
  }
</style>
