<template>
  <section class="catalog">
    <div class="catalog__nav">
      <div class="catalog__nav_desktop">
        <catalog-nav-left></catalog-nav-left>
      </div>
      <div class="catalog__nav_mobile">
        <catalog-nav-droplist></catalog-nav-droplist>
      </div>
    </div>
    <div v-if="cardList.length > 0" class="catalog__program program">
      <div class="d-none" :class="{'filter-modal': showFilterMobile}">
        <div @click="showFilterMobile = false"
             class="filter-modal__button-exit"
             v-if="showFilterMobile"> <img src="../../assets/images/cross.png" alt=""></div>
        <catalog-filter-list @onSelect="getCardList" class="catalog-filters" :filterList = "filters"></catalog-filter-list>
        <div class="button button_filled-black reset-filter" v-if="showFilterMobile" @click="resetFilter">
          <div>CРОСИТЬ</div>
          <img src="../../assets/images/arrow.svg" alt="">
        </div>
      </div>
      <catalog-card-slider :card-list="cardList" :show-scroll="showScroll"></catalog-card-slider>
      <div class="button button_filled-green make-program" @click="showFilterMobile = true">
        <div>СОСТАВИТЬ ПРОГРАММУ</div>
        <img src="../../assets/images/arrow.svg" alt="">
      </div>
    </div>
  </section>
</template>

<script>
import CatalogNavLeft from "~/components/catalog/CatalogNavLeft";
import CatalogNavDroplist from "~/components/catalog/CatalogNavDroplist";
import CatalogCard from "~/components/catalog/card/CatalogCard";
import CatalogFilterList from "~/components/filter/CFilterList";
import CatalogCardSlider from "~/components/catalog/card/CatalogCardSlider"
import numeralize from "numeralize-ru"
export default {
  components: {
    CatalogNavLeft, CatalogNavDroplist, CatalogCard, CatalogFilterList, CatalogCardSlider
  },
  data() {
    return {
      cardList: [],
      swiperOption: {
        loop: false,
        slidesPerView: 'auto',
        scrollbar: {
          el: '.swiper-scrollbar',
          hide: false,
          draggable: true
        }
      },
      filters: [],
      showFilterMobile: false,
      showScroll: true
    }
  },
  computed: {
    code () {
      return this.$router.currentRoute.params.category
    },
    currentCategory () {
      return this.$store.getters['catalog/getCategoryByCode'](this.code)
    },
    items () {
      return this.$store.getters['catalog/getItemsForCategory'](this.currentCategory.id)
    },
    filterActiveList() {
      return this.$store.getters['filter/getFilterList']
    }
  },
  mounted() {
    this.getCardList(false)
    let filterDishes = this.items.map(i => {
      return i.options.find(c => {
        return c.name.indexOf('Блюд') > -1
      }).value
    }).filter((v, i, a) => a.indexOf(v) === i)
    let filterCalories = this.items.map(i => {
      return i.calories
    }).filter((v, i, a) => a.indexOf(v) === i)
    this.filters.push({
      label: 'ПРИЕМ ПИЩИ',
      fItems: filterDishes.map(i => {
        return {
          name: i + ' ' + numeralize.pluralize(i, 'РАЗ', 'РАЗА', 'РАЗ'),
          value: i
        }
      }),
      fActiveItems: []
    })
    this.filters.push({
      label: 'КАЛОРИНОСТЬ',
      fItems: filterCalories.map(i => {
        return {
          name: i + ' ' + 'ККАЛ',
          value: i
        }
      }),
      fActiveItems: []
    })
  },
  methods: {
    filterCard: function (filter, card) {
      let meal = card.options.find(c => {
        return c.name.indexOf('Блюд') > -1
      }).value
      return this.filter(filter.meal, meal) && this.filter(filter.calories, card.calories)
    },
    filter: function (filter, value) {
      return !filter || filter.length > 0 && filter.find(c => {
        return c === value
      }) > -1
    },
    getCardList: function (isInit = true) {
      this.cardList = this.items.filter(c => {
        return this.filterCard(this.filterActiveList, c)
      })
      if (isInit) {
        setTimeout(() => {
          this.$children.find(c => {
            return c._name === "<CatalogCardSlider>"
          }).mySwiper.scrollbar.updateSize()
        }, 200)
      }
    },
    resetFilter: function () {
      this.$store.dispatch('filter/deleteListAction')
      this.$router.go()
    }
  }
}
</script>

<style scoped lang="scss">
  .catalog {
    margin: 0 3rem;
    padding: 0;
    display: flex;
    &__nav {
      width: 25%;
      background: #2e3034;
      margin-top: -.1rem;
    }
    &__program {
      width: 75%;
      padding-left: 2rem;
      padding-top: 5rem;
      margin-bottom: 6rem;
    }
    @media (min-width: 700.01px) {
      & {
        &__nav {
          &_desktop {
            display: flex;
          }
          &_mobile {
            display: none;
          }
        }
      }
    }
    @media (max-width: 700px) {
      & {
        flex-direction: column;
        margin: -.1rem 0 0 0;
        &__nav {
          width: 100%;
        }
        &__program {
          width: 100%;
          padding-left: 0rem;
        }
        &__nav {
          &_desktop {
            display: none;
          }
          &_mobile {
            display: flex;
            flex-direction: column;
          }
        }
      }
    }
  }
  .catalog-filters {
    margin: 3rem 5rem 4rem 6.55rem;
  }
  .make-program {
    margin: 3rem 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3rem;
    div {
      font-family: ProximaNova-Extrabold;
      color: #ffffff;
      font-size: 2.4rem;
    }
    img {
      width: 5rem;
    }
    @media (min-width: 700.00001px) {
      display: none;
    }
  }
  .d-none {
    @media (max-width: 700px) {
      display: none;
    }
  }
  .filter-modal {
    display: flex;
    flex-direction: column;
    position: fixed;
    z-index: 999;
    background: rgba(0,0,0,.5);
    top: 0;
    padding-top: 10rem;
    height: 100vh;
    width: 100vw;
    &__button-exit {
      cursor: pointer;
      position: absolute;
      width: 2rem;
      margin-top: 2rem;
      right: 7rem;
      img {
        width: 100%;
      }
    }
    .catalog-filters {
      background: #f0f0f0;
      min-height: 60vh;
      width: 80vw;
      flex-direction: column;
      justify-content: start;
      margin: 0 auto;
    }
  }
  .reset-filter {
    display: flex;
    margin: -8.5rem 7rem 0 7rem;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    div {
      font-family: ProximaNova-Extrabold;
      color: #ffffff;
      font-size: 2rem;
      margin-right: 10rem;
    }
    img {
      width: 4rem;
    }
  }
</style>

