%button {
  border: none;
  outline: none;
  cursor: pointer;
  text-transform: uppercase;
}
%green-button-filled {
  @extend %button;
  background-color: $mid-green;
  font-family: $bold;
  color: $white;
}
%green-button {
  @extend %button;
  background-color: rgba(0,0,0,0);
  border: .4rem solid $mid-green;
  font-family: $bold;
  color: $white;
}
%black-button {
  @extend %button;
  background-color: $d-grey;
  color: $white;
  &:hover {
    background-color: lighten($d-grey, 20%);
  }
}
.arrow-svg {
  width: 4rem;
}
.button-arrow-svg {
  margin-left: auto;
}
.button-balloon_active{
  border: 2px solid $mid-green;
  outline: none;
  margin: 2rem 0 2rem 0;
  border-radius: 10px;
  padding: 0.5rem;
  font-size: 12px;
  color: $white;
  font-family: $normal;
  background-color: transparent;
}
.button-balloon{
  margin: 0.5rem 0 0.5rem 0;
  border-radius: 10px;
  background-color: transparent;
  color: $white;
  font-family: $normal;
  padding: 0.5rem;
  font-size: 12px;
  outline: none;
}
.button {
  border: none;
  outline: none;
  cursor: pointer;
  text-transform: uppercase;
  &_filled {
    font-family: $bold;
    color: $white;
    &-green {
      background-color: $mid-green;
    }
    &-black {
      background-color: $d-grey;
    }
  }
  &_bordered {
    background-color: rgba(0,0,0,0);
    font-family: $bold;
    color: $white;
    &-green {
      border: .4rem solid $mid-green;
    }
  }
}
