%container {
  margin-left: 3rem;
  margin-right: 3rem;
}
%container-inner {
  padding-left: 4.5%;
  padding-right: 4.5%;
}
%container-md {
  margin-left: 8rem;
  margin-right: 8rem;
}
%d-flex {
  display: flex;
}
%f-row {
  flex-direction: row;
}
%f-column {
  flex-direction: column;
}
%align-items-start {
  align-items: start;
}
%align-items-center {
  align-items: center;
}
%align-items-end {
  align-items: end;
}
%justify-content-start {
  justify-content: start;
}
%justify-content-center {
  justify-content: center;
}
%justify-content-end {
  justify-content: end;
}

.d-block-i {
  display: block!important;
}
.d-flex-i {
  display: flex!important;
}
.container {
  &-main {
    @extend %container;
  }
  &-md {
    @extend %container-md
  }
  &-inner {
    @extend %container-inner
  }
}

@media (max-width: 700px) {
  %container {
    margin-left: 0;
    margin-right: 0;
  }
  %container-inner {
    padding-left: 2rem;
    padding-right: 2rem;
  }
  .mobile-container-out {
    margin-left: 3rem;
    margin-right: 3rem;
  }
  %container-md {
    margin-left: 3rem;
    margin-right: 3rem;
  }
}

