.header {
  &_h1 {
    font-family: $extrabold;
    text-transform: uppercase;
    font-size: 4.5rem;
    color: $d-grey;
    line-height: 3.5rem;
    letter-spacing: -.35rem;
    &_green {
      color: $mid-green;
    }
  }
}
