.categoryList {
  @extend %d-flex;
  justify-content: space-between;
  overflow: auto;
}
.categoryList__item {
  @extend %d-flex, %justify-content-start, %f-column;
  cursor: pointer;
  margin-bottom: 3.5rem;
}
.categoryList__img {
  height: 5rem;
  margin-bottom: 1.5rem;
}
.categoryList__header {
  text-align: center;
  font-family: $normal;
  font-size: 1.3rem;
  color: $d-grey;
}
