.categoriesProgressBar {
  @extend %d-flex;
  justify-content: space-between;
}
.categoriesProgressBar__item {
  @extend %d-flex, %align-items-center;
  width: 25%;
}
.categoriesProgressBar__bar {
  @extend %d-flex;
  height: .35rem;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}
.categoriesProgressBar__header {
  font-family: $extrabold;
  text-transform: uppercase;
  font-size: 1.6rem;
  color: $ff-grey;
}
.categoriesProgressBar__bar_no-child {
  background-color: $ff-grey;
  height: .35rem;
}
.categoriesProgressBar__bar_child {
  background-color: $ff-grey;
}
.categoriesProgressBar__bar_child:nth-child(n) {
  margin-right: 1rem;
}
.green__background {
  background-color: $mid-green;
  height: .35rem;
  width: 0%;
}
