.sections {
  padding-top: 5rem;
  display: flex;
  flex-direction: column;
  text-transform: uppercase;
  font-size: 1.3rem;
  font-family: "ProximaNova-Semibold";
  position: relative;
  width: 100%;
}
.section {
  display: flex;
  flex-direction: column;
  color: #818183;
  &__body {
    padding: 0 4.8rem;
    cursor: pointer;
    &_wrapper {
      display: flex;
      align-items: center;
      padding: 3rem 0;
      box-shadow: 0 .2rem rgb(62,64,69), inset 0 0 #000;
      transition: box-shadow .2s;
    }
  }
  &__img {
    width: 5rem;
    margin-right: 2rem;
    display: flex;
    justify-content: center;
    img {
      height: 3rem;
    }
  }
  &__children {
    position: absolute;
    z-index: 99;
    left: 100%;
    background-color: rgba(62,64,69, .5);
    width: 320.98%;
    margin-top: -5rem;
    height: 122.5%;
  }
  &__child {
    padding: 2rem 0;
    cursor: pointer;
    div {
      color: #fff;
      padding: 0 11.8rem;
    }
    &_active {
      background: rgb(102,192,93);
    }
  }
  &:hover {
    background: rgb(62,64,69);
    .section__body_wrapper {
      box-shadow: 0 0rem rgb(62,64,69), inset 0 -.2rem #52ac49;
    }
    transition: all .2s;
  }
  &:last-child {
    .section__body_wrapper {
      box-shadow: unset;
    }
  }
  &__active {
    background-color: #52ac49;
    .section__body_wrapper {
      box-shadow: unset;
      color: #fff;
    }
    .section__img {
    }
    &_n{
      background: rgb(62,64,69);
      .section__body_wrapper {
        box-shadow: inset 0 -.2rem #52ac49;
      }
    }
    &:hover {
      background: #52ac49;
      .section__body_wrapper {
        box-shadow: unset;
      }
    }
  }
}
.children {
  display: flex;
  align-items: center;
  justify-content: center;
  &__wrapper {
    width: 50rem;
    text-transform: none;
  }
  &__header {
    font-size: 1.8rem;
    color: #fff;
    margin-bottom: 5rem;
    font-family: ProximaNova-Semibold;
  }
  &__item {
    display: flex;
    flex-direction: column;
    margin-bottom: 5rem;
    &-header {
      text-transform: uppercase;
      font-size: 3rem;
      font-family: ProximaNova-Bold;
      color: #fff;
      margin-bottom: 3rem;
      cursor: pointer;
      &:hover {
        div {
          color: rgb(102,192,93);
        }
      }
    }
    &-body {
      font-size: 1.5rem;
      display: flex;
      color: #c8c8c9;
      width: 50rem;
    }
  }
}
.dash {
  margin-right: 3rem;
}
