.list {
  display: flex;
  flex-direction: column;
  background: #2e3034;
  &__item {
    display: flex;
  }
  &__description {
    color: #818183;
    font-family: ProximaNova-Semibold;
    font-size: 2rem;
    width: 90%;
    padding: 2.5rem;
  }
}
.item {
  padding: 0rem 2.5rem;
  display: flex;
  flex-direction: column;
  &_opened {
    background: #52AC49;
    .item {
      &_parent {
        margin-bottom: 2.5rem;
      }
      &__name {
        color: white;
      }
      &__length {
        color: #000 ;
        background: white;
      }
    }
  }
  &__wrapper {
    display: flex;
    flex-direction: column;
    padding: 2.5rem 0;
    box-shadow: 0 .2rem rgb(62,64,69);
    width: 100%;
    justify-content: center;
  }
  &_parent {
    display: flex;
    align-items: center;
  }
  &__children {
    display: flex;
    flex-direction: column;
    font-family: ProximaNova-Extrabold;
    color: white;
    text-transform: uppercase;
    font-size: 2rem;
  }
  &__child {
    padding: 2rem 2rem 2rem 4.6rem;
    cursor: pointer;
    &_selected {
      background-color: rgb(102,192,93);
    }
  }
  &__selected {
    flex-direction: row;
    padding: 2.5rem 2.5rem;
    align-items: center;
    background-image: url("../../assets/images/arrow_bottom.svg");
    background-repeat: no-repeat;
    background-color:  white;
    background-size: 2.5rem;
    background-position: 95% center;
    margin-bottom: 3rem;
    box-shadow: unset;
  }
  &__img {
    display: flex;
    justify-content: center;
    width: 3rem;
    margin-right: 1.5rem;
    img {
      height: 3rem;
    }
  }
  &__name {
    text-transform: uppercase;
    font-family: ProximaNova-Bold;
    font-size: 2rem;
    color: #818183;
    margin-right: 1.5rem;
  }
  &__length {
    padding: 1rem 1.3rem;
    background: #52ac49;
    color: white;
    font-size: 1.7rem;
    line-height: 1.4rem;
    font-family: ProximaNova-Semibold;
  }
  &:last-child {
    margin-bottom: 0;
    box-shadow: unset;
  }
}

