.progress-bar {
  display: flex;
  justify-content: space-between;
  &__header {
    font-family: ProximaNova-Extrabold;
    text-transform: uppercase;
    font-size: 1.6rem;
    color: #C8C8C9;
  }
  &__item {
    display: flex;
    align-items: center;
    width: 25%;
  }
  &__progress {
    display: flex;
    height: .35rem;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    &_no-child {
      background-color: #C8C8C9;
      height: .35rem;
    }
    &_child {
      background-color: #C8C8C9;
      &:nth-child(n) {
        margin-right: 1rem;
      }
    }
  }
  @media (max-width: 700px) {
    &__progress {
      height: 1rem;
      width: 100%;
      &_no-child {
        height: 1rem;
        margin-right: 1rem;
      }
      &_child {
        &:nth-child(n) {
          margin-right: 1rem;
        }
      }
    }
    &__header {
      display: none;
    }
    &__item {
      width: 24%;
    }
  }
}
.green__background {
  background-color: #52AC49;
  height: .35rem;
  width: 0%;
  @media (max-width: 700px) {
    height: 1rem;
  }
}
