.categoryList {
  display: flex;
  justify-content: space-between;
  overflow: auto;
  &__item {
    cursor: pointer;
    margin-bottom: 3.5rem;
  }
  @media (max-width: 700px) {
    justify-content: start;
    &__item {
      margin-right: 5rem;
    }
  }
}
.item {
  display: flex;
  flex-direction: column;
  &__img {
    height: 5rem;
    margin-bottom: 1.5rem;
  }
  &__header {
    text-align: center;
    font-family: ProximaNova-Semibold;
    font-size: 1.3rem;
    color: #191A1E;
  }
  @media (max-width: 700px) {
    &__img {
      height: 6rem;
    }
    &__header {
      font-size: 1.5rem;
    }
  }
}
::-webkit-scrollbar {
  height: 1rem;
}
/* Track */
::-webkit-scrollbar-track {
  background: #F1F1F1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #52AC49;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #52AC49;
}
