<template>
	<nav class="vertical-menu">
    <div>
      <div class="vertical-menu__title" @click="isMobileVisible = !isMobileVisible">
        <div>{{ menu.title }}</div>
        <img src="../../assets/images/arrow_bottom.svg" alt="arrow_bottom">
      </div>
    </div>
    <div
      class="vertical-menu__items"
      :class="{'d-block-i': isMobileVisible}">
      <div class="vertical-menu__item" v-for="(item, index) in menu.items"
           :key="index"
      ><nuxt-link :to="item.link">{{ item.name }}</nuxt-link></div>
    </div>
  </nav>
</template>

<script>
	export default {
		name: "MenuVertical",
    props: ['menu'],
    data() {
		  return {
        isMobileVisible: false
      }
    }
	}
</script>

<style scoped>

</style>
