<template>
  <section class="nav-menu">
    <div class="nav-menu__header nav-menu__wrapper">
      <div v-if="menu.left"
           class="nav-menu__left"
           :class="{'nav-menu__selected' : switcher}"
           @click="clickSwitcher(true)">
        <div v-if="isLeftSelected">{{ menu.left.name }}</div>
        <nuxt-link v-else :to="menu.left.link">{{ menu.left.name }}</nuxt-link>
      </div>
      <hr v-if="menu.right" class="hr_vertical">
      <div v-if="menu.right"
           class="nav-menu__right"
           :class="{'nav-menu__selected' : !switcher}"
           @click="clickSwitcher(false)">
        <div v-if="isRightSelected">{{ menu.right.name }}</div>
        <nuxt-link v-else :to="menu.right.link">{{ menu.right.name }}</nuxt-link>
      </div>
    </div>
    <div v-if="canDropLeft" class="nav-menu__list">
      <div class="nav-menu__wrapper">
        <div class="nav-menu__list_item" v-for="(item, index) in menu.left.children"
             :key="index"
             @click="goTo(menu.left, index)"
        >
          <nuxt-link :to="item.link">
            {{ item.name }}
          </nuxt-link>
        </div>
      </div>
    </div>
    <div v-if="canDropRight" class="nav-menu__list">
      <div class="nav-menu__wrapper">
        <div class="nav-menu__list_item" v-for="(item, index) in menu.right.children"
             :key="index"
             @click="goTo(menu.right, index)"
        >
          <nuxt-link :to="item.link">
            {{ item.name }}
          </nuxt-link>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
  export default {
    name: "NavMenu",
    props: ['menu'],
    data() {
      return {
        isLeft: false,
        isRight: false,
        switcher: true
      }
    },
    computed: {
      items: function () {
        let arr = this.menu.items
        return arr.slice(1)
      },
      canDropLeft: function () {
        return this.menu.left && this.menu.left.children && this.isLeft
      },
      canDropRight: function () {
        return this.menu.right && this.menu.right.children && this.isRight
      },
      isLeftSelected: function () {
        return this.menu.left && this.menu.left.children && this.menu.left.children.length > 0 && this.isLeft
      },
      isRightSelected: function () {
        return this.menu.right && this.menu.right.children && this.menu.right.children.length > 0 && this.isRight
      }
    },
    methods: {
      goTo: function (object, index) {
        let el = object.children[index]
        let current = {
          name: object.name,
          link: object.link
        }
        object.name = el.name
        object.link = el.link
        object.children.splice(index, 1)
        object.children.unshift(current)
      },
      clickSwitcher: function (bool) {
        this.switcher = bool
        this.isLeft = bool
        this.isRight = !bool
      },
      hideDrop: function () {
        this.isRight = false
        this.isLeft = false
      }
    }
  }
</script>

<style scoped lang="scss">
  hr {
    border:         none;
    border-left:    2px solid #2e3034;
    height:         30px;
    width:          2px;
    margin: 0 20px;
  }
</style>
